<p-panel *ngIf="!showDetailsComponent">
  <ng-template pTemplate="header">
    <div class="bf-panel-header">
      <span class="bf-panel-title">کارتابل حواله گروهی پایا</span>
      <button pButton icon="pi pi-arrow-right" title="بازگشت" class="p-button-rounded p-button-text bf-back-btn"
              (click)="goHome()"></button>
    </div>
  </ng-template>
  <p-card *ngIf="showTable" class="p-d-flex p-my-5">
    <p-table [value]="tableData">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate>شماره حواله موقت</th>
          <th translate>شماره حساب مبدا</th>
          <th translate>مبلغ کل</th>
          <th translate>تاریخ موثر</th>
          <th translate>وضعیت</th>
          <th translate>ثبت کننده</th>
          <th translate>تاریخ ثبت</th>
          <th translate>عملیات</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-row>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{row.temporaryRemittanceNumber}}</td>
          <td>{{row.sourceAccountNumber}}</td>
          <td>{{row.totalAmount|addCommaSeparator}}</td>
          <td>{{row.effectiveDate|castToDate}}</td>
          <td>{{row.status}}</td>
          <td>{{row.registrar}}</td>
          <td>{{row.registrationDate|castToDate}}</td>
          <td>
            <button pButton icon="pi pi-chevron-circle-right" (click)="selectRow(row)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <div class="p-d-flex p-jc-center app-child-px-6r app-gap-1r">
    <button pButton label="به‌روزرسانی"></button>
  </div>
</p-panel>

<app-paya-group-remittance-cartable-details *ngIf="showDetailsComponent" [groupPayaRow]="selectedRow"
  (confirm)="confirm($event)"></app-paya-group-remittance-cartable-details>
