<p-panel header="صورت حساب" [ngStyle]="{'width':'100%'}">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410" class="app-persian-calendar-style">
          </p-persian-calendar>
          <label>از تاریخ</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410"
                              class="app-persian-calendar-style"></p-persian-calendar>
          <label>تا تاریخ</label>
        </span>
      </div>

      <div class="p-field p-col">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false" [options]="organizationalUnit">
          </p-dropdown>
          <label>واحد سازمانی</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-dropdown [editable]="true" [autoDisplayFirst]="false"
                      [options]="acItems"></p-dropdown>
          <label>شماره حساب</label>
        </span>
      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center p-mt-5 p-mb-5">
    <button id="btnRecovery" class="p-button-info" pButton label="بازیابی" (click)="tableFlag=true;"></button>&nbsp;
  </div>
  <div class="p-mt-3" *ngIf=tableFlag>
    <p-card >
      <p-table [value]="fsList">
        <ng-template pTemplate="header">
          <tr>
            <th translate>ردیف</th>
            <th translate id="thAccountNumber">شماره حساب</th>
            <th translate>نام شعبه</th>
            <th translate>تاریخ اعمال</th>
            <th translate>واریز کننده</th>
            <th translate>کد یکتای تراکنش</th>
            <th translate>شماره سند/چک / حواله</th>
            <th translate>بدهکار</th>
            <th translate>بستانکار</th>
            <th translate>مانده</th>
            <th translate>تاریخ انجام</th>
            <th translate>کد نوع خدمات</th>
            <th translate>کد نوع عملیات</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" pTemplate="body" let-service>
          <tr>
            <td>{{i + 1}}</td>
            <td>{{service.accountNumber}}</td>
            <td>{{service.branchName}}</td>
            <td>{{service.history}}</td>
            <td>{{service.depositor}}</td>
            <td>{{service.yektaCode}}</td>
            <td>{{service.check}}</td>
            <td>0</td>
            <td>{{service.creditor|addCommaSeparator}}</td>
            <td>{{service.amount|addCommaSeparator}}</td>
            <td>1400/06/01</td>
            <td>170</td>
            <td>250</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</p-panel>
