<p-panel header="صورت حساب" [ngStyle]="{'width':'100%'}">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col-3">
        <p-dropdown   placeholder="واحد سازمانی" [options]="organizationalUnit"></p-dropdown>
      </div>
      <div class="p-field p-col-3">
        <p-dropdown [editable]="true" placeholder="شماره حساب" [options]="acItems"></p-dropdown>
      </div>
      <div class="p-field p-col-3">
        <p-persian-calendar placeholder="از تاریخ" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
      </div>
      <div class="p-field p-col-3">
        <p-persian-calendar placeholder="تا تاریخ" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
      </div>
    </div>
    <div class="p-d-flex p-jc-center">
      <button  id="btnRecovery" class="p-button-info" pButton label="بازیابی" (click)="tableFlag=true;"></button>&nbsp;
    </div>
  </div>
  <p-card  *ngIf=tableFlag>
    <p-table [value]="fsList">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate id="thAccountNumber">شماره حساب</th>
          <th translate>کد شعبه</th>
          <th translate>تاریخ اعمال</th>
          <th translate>واریز کننده</th>
          <th translate>کد یکتای تراکنش</th>
          <th translate>شماره سند/چک / حواله</th>
<!--          <th translate>شماره سند</th>-->
          <th translate>بدهکار</th>
          <th translate>بستانکار</th>
          <th translate>مانده</th>
          <th translate>تاریخ انجام</th>
          <th translate>کد نوع خدمات</th>
          <th translate>کد نوع عملیات</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-service>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{service.accountNumber}}</td>
          <td>{{service.branchCode}}</td>
          <td>{{service.history}}</td>
          <td>{{service.depositor}}</td>
          <td>{{service.yektaCode}}</td>
          <td>{{service.check}}</td>
<!--          <td>{{service.doc}}</td>-->
          <td>0</td>
          <td>{{service.creditor|addCommaSeparator}}</td>
          <td>{{service.amount|addCommaSeparator}}</td>
          <td>1400/06/01</td>
          <td>170</td>
          <td>250</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</p-panel>
