<p-card header="ایجاد اطلاعات تماس" [formGroup]="form">

  <div class="p-fluid p-formgrid p-grid  p-jc-center app-mx-20r">

    <div class="p-field p-col-4">
        <span class="p-float-label">
      <p-dropdown formControlName="contactTypeGroups" [options]="contactTypeGroups"
                  [autoDisplayFirst]="false"></p-dropdown>
                <label>گروه نوع تماس</label>
   </span>
    </div>
    <div class="p-field p-col-6">
      <!--        <p-dropdown placeholder="نوع تماس" ></p-dropdown>-->
      <span class="p-float-label">
      <input class="input-w-100" formControlName="contactInfo" pInputText>
           <label>اطلاعات تماس</label>
     </span>
    </div>

  </div>

  <div class="p-fluid p-formgrid p-grid app-mx-20r   p-jc-center ">
    <div class="p-field p-col-10">
        <span class="p-float-label">
      <input class="input-w-100" formControlName="discContact" pInputText>
          <label>شرح تماس</label>
        </span>
    </div>
    <!--    <div class="p-field p-col-2"></div>-->
    <!--    <div class="p-field p-col-4">-->
    <!--      <p-persian-calendar formControlName="startDate" yearRange="1300:1410" class="app-persian-calendar-style"  placeholder="تاریخ شروع"></p-persian-calendar>-->
    <!--    </div>-->
    <!--    <div class="p-field p-col-4">-->
    <!--      <p-persian-calendar   formControlName="endDate"  yearRange="1300:1410" class="app-persian-calendar-style"  placeholder="تاریخ پایان"></p-persian-calendar>-->
    <!--    </div>-->
  </div>
  <div class="p-d-flex app-gap-1r app-child-px-3r p-jc-center p-mt-6">
    <button label="تایید" pButton (click)="Confirmation()"></button>
    <button label="انصراف" pButton (click)="onClose()"></button>
  </div>
</p-card>
