<p-panel header="گزارش کارمزدهای دریافت شده">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-dropdown class="p-dropdown-w100" placeholder="" optionValue="value" optionLabel="label">
          </p-dropdown>
          <label>مشتری ویژه</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input placeholder="" class="input-w-100" pInputText>
          <label>کد دوره پرداخت</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar placeholder="" yearRange="1300:1410" class="app-persian-calendar-style"
          ></p-persian-calendar>
          <label>تاریخ پرداخت از</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar placeholder="" yearRange="1300:1410" class="app-persian-calendar-style"
          ></p-persian-calendar>
          <label>تاریخ پرداخت تا</label>
        </span>
      </div>
    </div>
    <div class="p-d-flex p-jc-center">
      <button pButton class="p-button-info btnWidth btn-ml " label="دریافت فایل"></button>
      <button pButton class="p-button-info btnWidth" label="پاک کردن شرایط جستجو"></button>
    </div>
  </div>
</p-panel>


