<div [formGroup]="form">
<!--<div class="app-mx-5r">-->
<!--  <div class="p-fluid p-formgrid p-grid app-col-px-2r">-->
<!--    <div class="p-field p-col-12 p-md-3">-->
<!--      &lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--      <input placeholder="کد ارجاع مشتری" formControlName="erjaCode" pInputText>-->
<!--      &lt;!&ndash;        <label>کد ارجاع مشتری</label>&ndash;&gt;-->
<!--      &lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-12 p-md-3">-->
<!--      &lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--      <input placeholder="شناسه ملی" formControlName="nationalCode" pInputText>-->
<!--      &lt;!&ndash;        <label>شناسه ملی</label>&ndash;&gt;-->
<!--      &lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-12 p-md-6">-->
<!--      &lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--      <input placeholder="*عنوان" formControlName="title"  required pInputText>-->
<!--      &lt;!&ndash;        <label>عنوان</label>&ndash;&gt;-->
<!--      &lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<p-card header="اطلاعات تحصیلی" class="p-d-block p-my-5">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown [autoDisplayFirst]="false" [options]="eduMaghta" formControlName="eduMaghta"></p-dropdown>
                  <label>مقطع تحصیلی</label>
                </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown [options]="eduReshte"  formControlName="eduReshte" [autoDisplayFirst]="false"></p-dropdown>
                  <label>رشته تحصیلی</label>
                </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown [options]="eduGraesh" formControlName="eduGraesh" [autoDisplayFirst]="false"></p-dropdown>
                  <label>گرایش تحصیلی</label>
                </span>
        <!-- <small>متن کمکی</small> -->
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown [options]="countryList" formControlName="eduCountry" [autoDisplayFirst]="false"></p-dropdown>
                  <label>کشور محل تحصیل</label>
                </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <input formControlName="eduMoaseseType" pInputText>
                  <label>نوع موسسه آموزشی</label>
                </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <input formControlName="eduMoaseseName" pInputText>
                  <label>نام موسسه آموزشی</label>
                </span>
        <!-- <small>متن کمکی</small> -->
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-persian-calendar formControlName="startDate" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
                  <label>تاریخ شروع</label>
                </span>
        <!-- <small>ورودی به صورت تاریخ می‌باشد</small> -->
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-persian-calendar formControlName="endDate" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
                  <label>تاریخ پایان</label>
                </span>
        <!-- <small>ورودی به صورت تاریخ می‌باشد</small> -->
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown [options]="cityList" formControlName="eduCity" ></p-dropdown>
                  <label>شهر محل تحصیل</label>
                </span>
      </div>
    </div>
  </div>
</p-card>

<p-card header="اطلاعات استخدامی" class="p-d-block p-my-5">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown placeholder="نوع استخدام" [options]="recruitmentType" formControlName="recruitmentType" [autoDisplayFirst]="false"></p-dropdown>
                  <label>نوع استخدام</label>
                </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown placeholder="واحد سازمانی در حال خدمت" [options]="vahed" formControlName="vahed" [autoDisplayFirst]="false"></p-dropdown>
                  <label>واحد سازمانی در حال خدمت</label>
                </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-dropdown placeholder="پست سازمانی"  formControlName="post" [options]="post" [autoDisplayFirst]="false"></p-dropdown>
                  <label>پست سازمانی</label>
                </span>
      </div>
    </div>
  </div>
</p-card>

<p-card header="اطلاعات تکیملی" class="p-d-block p-my-5">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <input placeholder="نوع سهمیه"  formControlName="sahmie" pInputText>
                  <label>نوع سهمیه</label>
                </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
                  <span class="p-float-label">
        <p-inputNumber placeholder="تعداد افراد خانواده"  formControlName="tedadFamily"></p-inputNumber>
                    <label>تعداد افراد خانواده</label>
                  </span>
        <!-- <small>ورودی به صورت عدد می‌باشد</small> -->
      </div>
      <div class="p-field p-col-12 p-md-3">
                  <span class="p-float-label">
        <p-inputNumber placeholder="تعداد فرزندان" formControlName="tedadFamily"></p-inputNumber>
                    <label>تعداد فرزندان</label>
                  </span>
        <!-- <small>ورودی به صورت عدد می‌باشد</small> -->
      </div>
      <div class="p-field p-col-12 p-md-3">
                <span class="p-float-label">
        <p-inputNumber placeholder="تعداد افراد تحت تکفل" formControlName="tedadKefalat"></p-inputNumber>
                  <label>تعداد افراد تحت تکفل</label>
                </span>
        <!-- <small>ورودی به صورت عددی می‌باشد</small> -->
      </div>
    </div>
  </div>
</p-card>
</div>
