<p-panel header="مشاهده و ویرایش اطلاعات">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <input   placeholder="شناسه عددی" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input   placeholder="شماره حواله" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input   placeholder="شماره سهامدار" class="input-w-100" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <p-dropdown class="p-dropdown-w100" placeholder="مشتری ویژه" optionValue="value"
                    optionLabel="label"></p-dropdown>
      </div>
      <div class="p-field p-col">
        <input   placeholder="کد دوره پرداخت" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input   placeholder="شناسه حرفی" class="input-w-100" pInputText>
      </div>
    </div>

    <div class="p-d-flex p-jc-center">

      <button pButton class="p-button-info btnWidth btn-ml "  label="جستجو" ></button>
      <button pButton class="p-button-info btnWidth"   label="پاک کردن فرم" ></button>
    </div>
  </div>
</p-panel>
