content {
    font-family: 'iranyekan', sans-serif;
    position: relative;
    display: flex;
    z-index: 1;
    flex: 1 0 auto;

    > *:not(router-outlet) {
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        min-width: 100%;
    }
}

.isFontIran label:not(.pi),
.isFontIran div:not(.pi),
.isFontIran span :not(.p-dropdown-trigger,.pi-calendar,.p-button-icon):not(.pi),
.isFontIran table:not(.pi),
.isFontIran input:not(.pi),
.isFontIran h1:not(.pi),
.isFontIran h2:not(.pi),
.isFontIran h3:not(.pi),
.isFontIran h4:not(.pi),
.isFontIran h5:not(.pi),
.isFontIran h6:not(.pi),
.isFontIran .p-button-label:not(.pi),
.isFontIran .p-dropdown-label:not(.pi),
.isFontIran p:not(.pi){
        font-family: 'iranyekan', sans-serif !important;
}
.isSansSerif label,
.isSansSerif div,
.isSansSerif span :not(.p-dropdown-trigger,.pi-calendar,.p-button-icon),
.isSansSerif table,
.isSansSerif input,
.isSansSerif h1,
.isSansSerif h2,
.isSansSerif h3,
.isSansSerif h4,
.isSansSerif h5,
.isSansSerif h6,
.isSansSerif .p-button-label,
.isSansSerif .p-dropdown-label,
.isSansSerif p {
    font-family: sans-serif !important;
}