<div class="setToCenter">

    <p-panel header="سامانه بانکداری شرکتی/سازمانی  دیجیتال" class="PanelLogin ">
        <div class="p-grid" id="panelDiv">
            <div *ngIf="errorMessage" style="color: red;">
                {{errorMessage}}
            </div>
            <div class="p-col-12" id="userDiv">
                <label for="username" class="userpasslabel">شناسه کاربری:</label>
                <input placeholder="شناسه کاربری" [(ngModel)]="userName" id="username" pInputText (keyup.enter)="login()">
            </div>
            <br>
            <div class="p-col-12" id="passDiv">
                <label for="pass" class="userpasslabel">رمز عبور:</label>
                <input type="password" placeholder="رمز عبور" [(ngModel)]="password" pInputText id="pass" (keyup.enter)="login()"><br><br>
            </div>
          <br>
            <div class="p-col-12" id="btnDiv">
                <button #btnLogin pButton id="btnLog" [disabled]="!userName || !password" label="ورود" (click)="login()"></button>
            </div>
            <div class="p-col-12">
                <a href="#">فراموشی رمز عبور</a>
            </div>
            <!--            <div class="p-col-6" id="dropDiv" >-->
            <!--                <label>{{'شیوه ورود' | translate}}</label>-->
            <!--            <br>-->
            <!--                <p-dropdown-->
            <!--                    [options]="droplist"-->
            <!--                    optionLabel="name"-->
            <!--                    optionValue="code"-->

            <!--                ></p-dropdown>-->
            <!--            </div>-->
            <!--            <br>-->

            <br>
        </div>
    </p-panel>
</div>
