<div class="setToCenter">
    <p-panel header="سامانه بانکداری شرکتی/سازمانی  دیجیتال" class="PanelLogin ">
        <div class="p-grid" id="panelDiv">
            <div *ngIf="errorMessage" style="color: red;">
                {{errorMessage}}
            </div>
            <div class="p-col-12" id="userDiv">
                <label for="username" class="userpasslabel">شناسه کاربری:</label>
                <input placeholder="شناسه کاربری" [(ngModel)]="userName" id="username" pInputText
                    (keyup.enter)="login()" [disabled]="loading" [ngStyle]="{direction:userName?'ltr':'rtl'}">
            </div>
            <div class="p-col-12" id="passDiv">
                <label for="pass" class="userpasslabel">رمز عبور:</label>
                <input type="password" placeholder="رمز عبور" [(ngModel)]="password" pInputText id="pass"
                    (keyup.enter)="login()" [disabled]="loading" [ngStyle]="{direction:password?'ltr':'rtl'}">
            </div>
            <div class="p-col-12" id="loginTypeDiv">
                <label for="loginType" class="userpasslabel">نوع ورود:</label>
                <p-dropdown class="loginType" id="loginType" [autoDisplayFirst]="true" [options]="droplist"
                    [disabled]="loading"></p-dropdown>
            </div>
            <div class="p-col-12 p-d-flex p-jc-center p-ai-center app-gap-2r" id="btnDiv">
                <a href="#">فراموشی رمز عبور</a>
                <button #btnLogin pButton id="btnLog" [loading]="loading" iconPos="right" label="ورود"
                    (click)="login()"></button>
            </div>
        </div>
    </p-panel>
</div>