<div class="setToCenter">

    <p-panel header="سامانه بانکداری اینترنتی شرکتی" class="PanelLogin">
        <div class="p-grid" id="panelDiv">
            <div *ngIf="errorMessage" style="color: red;">
                {{errorMessage}}
            </div>
            <div class="p-col-12" id="userDiv">
                <label for="username" class="userpasslabel">رمز عبور:</label>
                <input placeholder="نام کاربری" [(ngModel)]="userName" id="username" pInputText>
            </div>
            <br>
            <div class="p-col-12" id="passDiv">
                <label for="pass" class="userpasslabel">شناسه کاربری:</label>
                <input type="password" placeholder="کلمه عبور" [(ngModel)]="password" pInputText id="pass"><br><br>
            </div>
            <div class="p-col-12" id="btnDiv">

                <p-button id="btnLog" (click)="login()" label="ورود"></p-button>
            </div>
            <div class="p-col-12">
                <a href="#">فراموشی رمز عبور</a>
            </div>
            <!--            <div class="p-col-6" id="dropDiv" >-->
            <!--                <label>{{'شیوه ورود' | translate}}</label>-->
            <!--            <br>-->
            <!--                <p-dropdown-->
            <!--                    [options]="droplist"-->
            <!--                    optionLabel="name"-->
            <!--                    optionValue="code"-->

            <!--                ></p-dropdown>-->
            <!--            </div>-->
            <!--            <br>-->

            <br>
        </div>
    </p-panel>
</div>
