#btnIdWallet{
    width: 30%;
    height: 60%;
}
:host{
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}
#btnBatchRegister{
    width: 10%;
    height: 30%;
    //margin-left: 45%;
    //margin-right: 43%;
}
#btnPardakht{
    width: 10%;
    height: 100%;
    //margin-left: 45%;
    margin-right: 21%;
}

#btnIdWallet2{
    width: 25%;
    height: 60%;;
}

.FS-height{
    height: 100%;
}
#thAccountNumber{
    width: 15%;
}
.btn-mr{
    margin-right: 1rem !important;
}
#f2{
    margin-right: 2rem !important;
}
