<div class="app-mx-5r">
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-12 p-md-3">
      <span class="p-float-label">
        <input pInputText>
        <label>کد ارجاع مشتری</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-3">
      <span class="p-float-label">
        <input pInputText>
        <label>شناسه ملی</label>
      </span>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input required pInputText>
        <label>عنوان</label>
      </span>
    </div>
  </div>
</div>

<p-card header="اطلاعات تحصیلی" class="p-d-block p-my-5">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>مقطع تحصیلی</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>رشته تحصیلی</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>گرایش تحصیلی</label>
        </span>
        <!-- <small>متن کمکی</small> -->
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>کشور محل تحصیل</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <input pInputText>
          <label>نوع موسسه آموزشی</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <input pInputText>
          <label>نام موسسه آموزشی</label>
        </span>
        <!-- <small>متن کمکی</small> -->
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
          <label>تاریخ شروع</label>
        </span>
        <!-- <small>ورودی به صورت تاریخ می‌باشد</small> -->
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
          <label>تاریخ پایان</label>
        </span>
        <!-- <small>ورودی به صورت تاریخ می‌باشد</small> -->
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>شهر محل تحصیل</label>
        </span>
      </div>
    </div>
  </div>
</p-card>

<p-card header="اطلاعات استخدامی" class="p-d-block p-my-5">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>نوع استخدام</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>واحد سازمانی در حال خدمت</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false"></p-dropdown>
          <label>پست سازمانی</label>
        </span>
      </div>
    </div>
  </div>
</p-card>

<p-card header="اطلاعات تکیملی" class="p-d-block p-my-5">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-between">
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <input pInputText>
          <label>نوع سهمیه</label>
        </span>
      </div>
      <div class="p-fluid p-formgrid p-grid app-col-px-2r p-col-12 p-md-3 p-px-0">
        <div class="p-field p-col-12 p-md-8">
          <span class="p-float-label">
            <p-inputNumber></p-inputNumber>
            <label>تعداد افراد خانواده</label>
          </span>
          <!-- <small>ورودی به صورت عدد می‌باشد</small> -->
        </div>
        <div class="p-field p-col-12 p-md-4">
          <span class="p-float-label">
            <p-inputNumber></p-inputNumber>
            <label>تعداد فرزندان</label>
          </span>
          <!-- <small>ورودی به صورت عدد می‌باشد</small> -->
        </div>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <span class="p-float-label">
          <p-inputNumber></p-inputNumber>
          <label>تعداد افراد تحت تکفل</label>
        </span>
        <!-- <small>ورودی به صورت عددی می‌باشد</small> -->
      </div>
    </div>
  </div>
</p-card>