<p-panel header="اسناد مالی متناظر با تراکنش‌های مالی">
  <div class="p-d-flex p-flex-column app-gap-1r">
    <div class="app-mx-5r" [formGroup]="form">
      <div class="p-fluid p-formgrid p-grid app-col-px-2r">
        <div class="p-field p-col p-d-flex p-flex-column app-vertical-radios">
          <span class="header" style="margin-bottom: 8px;">
            دوره صورتحساب:
          </span>
          <div class="p-d-flex app-gap-2r custom-range-row">
            <p-radioButton name="billingPeriod" formControlName="billingPeriod" value="customRange" label="بازه">
            </p-radioButton>
            <p-persian-calendar formControlName="fromDate" placeholder="از تاریخ" yearRange="1300:1410" class="app-persian-calendar-style">
            </p-persian-calendar>
            <p-persian-calendar formControlName="toDate" placeholder="تا تاریخ" yearRange="1300:1410" class="app-persian-calendar-style">
            </p-persian-calendar>
          </div>
        </div>
      </div>
      <div class="p-field p-col">
        <p-checkbox formControlName="active" [binary]="true" label="وضعیت فعال"></p-checkbox>
      </div>
      <div class="p-field p-col p-d-flex p-ai-center app-gap-1r">
        <span>
          ماهیت:
        </span>
        <p-radioButton name="nature" formControlName="nature" value="debtor" label="بدهکار"></p-radioButton>
        <p-radioButton name="nature" formControlName="nature" value="creditor" label="بستانکار"></p-radioButton>
        <p-radioButton name="nature" formControlName="nature" value="not-important" label="مهم نیست"></p-radioButton>
      </div>
      <div class="p-d-flex p-jc-start app-gap-1r app-child-px-6r">
        <button pButton label="تائید" (click)="confirm()" [loading]="level1Loading" iconPos="right"></button>
      </div>
    </div>
    <p-card>
      <div class="app-nested-level-1">
        <p-table [value]="level1Rows" [loading]="level1Loading" dataKey="code">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th translate style="width: 2%;">ردیف</th>
              <th translate class="app-w-10pc">کد سر فصل</th>
              <th translate class="p-text-right">عنوان سر فصل</th>
            </tr>
          </ng-template>
          <ng-template let-i="rowIndex" pTemplate="body" let-row let-expanded="expanded">
            <tr>
              <td><button type="button" pButton pRipple [pRowToggler]="row" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"></button></td>
              <td>{{i + 1}}</td>
              <td>{{row.code}}</td>
              <td class="p-text-right">{{row.title}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-row>
            <tr>
              <td colspan="4">
                <div class="p-p-3 app-nested-level-2">
                  <p-table [value]="row.rows" dataKey="code">
                    <ng-template pTemplate="header">
                      <tr>
                        <th></th>
                        <th class="p-text-right app-w-10pc">کد</th>
                        <th class="p-text-right">عنوان</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-expanded="expanded">
                      <tr>
                        <td><button type="button" pButton pRipple [pRowToggler]="row" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-left'"></button></td>
                        <td class="p-text-right">{{row.code}}</td>
                        <td class="p-text-right">{{row.title}}</td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-row>
                      <tr>
                        <td colspan="3">
                          <div class="p-p-3 app-nested-level-3">
                            <p-table [value]="row.rows" dataKey="code">
                              <ng-template pTemplate="header">
                                <tr>
                                  <th class="p-text-right app-w-10pc">کد</th>
                                  <th class="p-text-right">عنوان</th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-row>
                                <tr>
                                  <td class="p-text-right">{{row.code}}</td>
                                  <td class="p-text-right">{{row.title}}</td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</p-panel>
