#btnIdWallet {
    width: 30%;
    height: 60%;
}

:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnReport {
    width: 15%;
    height: 100%;
    //margin-left: 45%;
    margin-right: 43%;
}

.FS-mr {
    margin-right: 5rem !important;

}

.FS-mr7 {
    margin-right: 4.9rem !important;

}

.FS-mr2 {
    margin-right: 1.5rem !important;
}

.FS-height {
    height: 100%;
}

#thAccountNumber {
    width: 15%;
}

.FS-mt1 {
    margin-top: 1rem !important;
}

.FS-p-md-2 {
    width: 18.6667%;
}

.FS-mr3 {
    margin-right: 5.5rem !important;
}

.FS-mr4 {
    margin-right: 6.7rem !important;
}

.FS-mr6 {
    margin-right: 2.3rem !important;

}

.Fs-mlf {
    margin-right: 12.7rem !important;
    margin-left: 1.7rem !important;
}
