<p-panel header="استعلام وضعیت چک" [ngStyle]="{'width':'100%'}">
    <div class="p-d-flex p-flex-wrap Fs-mlf">
        <div class=" p-md-2 FS-mr">
            <p-dropdown [editable]="true" placeholder="شماره حساب"  [options]="acItems"></p-dropdown>
        </div>
        <div class=" p-md-2 FS-mr">
            <input placeholder="مبلغ" class="input-w-100" pInputText>
        </div>
        <div class="FS-p-md-2 FS-mr3">
            <p-persian-calendar placeholder="تاریخ سررسید" yearRange="1300:1410"
                                class="app-persian-calendar-style"></p-persian-calendar>
        </div>
        <div class=" p-md-2 FS-mr">
            <input placeholder="واحد مربوطه" class="input-w-100" pInputText>
        </div>
        <div class=" p-md-2 FS-mr">
            <input placeholder="ذینفع چک" class="input-w-100" pInputText>
        </div>
        <div class=" p-md-2 FS-mr">
            <input placeholder="سریال چک" class="input-w-100" pInputText>
        </div>
        <div class=" p-md-2 FS-mr">
            <input placeholder="سری حرفی" class="input-w-100" pInputText>
        </div>
        <div class=" p-md-2 FS-mr4 ">
            <input placeholder="سری عددی" class="input-w-100" pInputText>
        </div>
        <div class=" p-md-2 FS-mr7 ">
            <p-dropdown placeholder="وضعیت چک" optionValue="value" optionLabel="label"></p-dropdown>
        </div>
        <div class=" p-md-2 FS-mr7 ">
            <p-dropdown placeholder="سرفصل حسابداری" optionValue="value" optionLabel="label"></p-dropdown>
        </div>
        <div class=" p-md-2 FS-mr"></div>
        <div class=" p-md-2 FS-mr"></div>
        <div class=" FS-p-md-2 FS-mr3 FS-mt1">
            <p-persian-calendar placeholder="تاییدیه از" yearRange="1300:1410"
                                class="app-persian-calendar-style"></p-persian-calendar>
        </div>
        <div class=" FS-p-md-2 FS-mr6 FS-mt1">
            <p-persian-calendar placeholder="تا تاریخ" yearRange="1300:1410"
                                class="app-persian-calendar-style"></p-persian-calendar>
        </div>
        <div class=" p-md-2 FS-mr"></div>
        <div class=" p-md-2 FS-mr"></div>
        <div class="FS-p-md-2 FS-mr3 FS-mt1">
            <p-persian-calendar placeholder="برداشت از" yearRange="1300:1410"
                                class="app-persian-calendar-style"></p-persian-calendar>
        </div>
        <div class="FS-p-md-2 FS-mr6 FS-mt1">
            <p-persian-calendar placeholder="تا تاریخ" yearRange="1300:1410"
                                class="app-persian-calendar-style"></p-persian-calendar>
        </div>
        <div class=" p-md-2 FS-mr"></div>
        <div class=" p-md-2 FS-mr"></div>
        <div class=" p-md-5 FS-mr  FS-mt1">
            <input placeholder="در وجه" class="input-w-95" pInputText>
        </div>
        <div class=" p-md-5 FS-mr2  FS-mt1">
            <input placeholder="بابت" class="input-w-95" pInputText>
        </div>
    </div>
    <div class="p-md-12 FS-height">
        <button id="btnReport" class=" p-button-info" pButton label="گزارش" (click)="tableFlag=true;"></button>&nbsp;
    </div>
    <p-card *ngIf=tableFlag>
        <p-table [value]="fsList">
            <ng-template pTemplate="header">
                <tr>
                    <th translate>ردیف</th>
                    <th translate id="thAccountNumber">شماره حساب</th>
                    <th translate>کد شعبه</th>
                    <th translate>تاریخ اعمال</th>
                    <th translate>واریز کننده</th>
                    <th translate>کد یکتای تراکنش</th>
                    <th translate>چک / حواله</th>
                    <th translate>سند</th>
                    <th translate>بدهکار</th>
                    <th translate>بستانکار</th>
                    <th translate>مانده</th>
                    <th translate>تاریخ انجام</th>
                    <th translate>کد نوع خدمات</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-service>
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{service.accountNumber}}</td>
                    <td>{{service.branchCode}}</td>
                    <td>{{service.history}}</td>
                    <td>{{service.depositor}}</td>
                    <td>{{service.yektaCode}}</td>
                    <td>{{service.check}}</td>
                    <td>{{service.doc}}</td>
                    <td>0</td>
                    <td>{{service.creditor|addCommaSeparator}}</td>
                    <td>{{service.amount|addCommaSeparator}}</td>
                    <td>1400/06/01</td>
                    <td>170</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</p-panel>
