<p-panel header="گزارش فایل های بارگذاری شده">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <input placeholder="نام فایل" class="input-w-100" pInputText>

      </div>
      <div class="p-field p-col">
        <p-dropdown placeholder="وضعیت"></p-dropdown>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <p-persian-calendar placeholder="تاریخ بارگذاری از" yearRange="1300:1410" class="app-persian-calendar-style"
        ></p-persian-calendar>
      </div>
      <div class="p-field p-col">
        <p-persian-calendar placeholder="تاریخ بارگذاری تا" yearRange="1300:1410" class="app-persian-calendar-style"
        ></p-persian-calendar>
      </div>
    </div>
    <div class="p-d-flex p-jc-center">

      <button pButton class="p-button-info btnWidth btn-ml " label="جستجو"></button>
      <button pButton class="p-button-info btnWidth" label="نمایش همه"></button>
    </div>
  </div>
</p-panel>


