<p-panel header="گزارش فایل های بارگذاری شده">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input  class="input-w-100" pInputText>
          <label>نام فایل</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-dropdown ></p-dropdown>
          <label>وضعیت</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar  yearRange="1300:1410" class="app-persian-calendar-style"
          ></p-persian-calendar>
          <label>تاریخ بارگذاری از</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar  yearRange="1300:1410" class="app-persian-calendar-style"
          ></p-persian-calendar>
          <label>تاریخ بارگذاری تا</label>
        </span>
      </div>
    </div>
    <div class="p-d-flex p-jc-center">
      <button pButton class="p-button-info btnWidth btn-ml " label="جستجو"></button>
      <button pButton class="p-button-info btnWidth" label="نمایش همه"></button>
    </div>
  </div>
</p-panel>


