<p-panel header="تعریف کیف پول کارکنان" [ngStyle]="{'width':'100%'}">
  <div class="app-mx-20r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col-3">
        <input class="input-w-100" placeholder="کد ملی" pInputText>
      </div>
      <div class="p-field p-col-3">
        <input class="input-w-100" placeholder="شماره موبایل" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col-3">
        <input class="input-w-100" placeholder="نام نام خانوادگی" pInputText>
      </div>
      <div class="p-field p-col-3">
        <input class="input-w-100" placeholder="مبلغ شارژ اولیه" pInputText>
      </div>
      <div class="p-d-flex p-jc-center">
        <button id="btnCreateWallet" class="p-button-info" pButton label="ایجاد کیف پول"></button>&nbsp;
        <button id="btnBatchRegister" class="p-button-info" pButton label="انصراف"></button>&nbsp;
      </div>
    </div>
  </div>
</p-panel>
