:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnBatchRegister {
    width: 13%;
    height: 30%;
    //margin-left: 45%;
    //margin-right: 40%;
}

#btnCreateWallet {
    width: 13%;
    height: 55%;
    //margin-left: 45%;
    margin-right: 33%;
}

.FS-mr {
    margin-right: 5rem !important;
}

.FS-mt {
    height: 10%;
    margin-top: 2rem !important;
}

.FS-mr2 {
    margin-right: 42rem !important;
}

.Fs-mlf {
    margin-right: 10.7rem !important;
    margin-left: 1.7rem !important;
}