<p-panel header="ثبت دستور بانک پرداخت شارژ سیم کارت" [ngStyle]="{'width':'100%'}">
    <div class="p-d-flex p-flex-wrap">
        <div class=" p-md-3 ">
          <span class="p-float-label">
            <input class="input-w-100" placeholder="" pInputText>
            <label>شماره موبایل</label>
          </span>
        </div>
        <div class=" p-md-3 ">
          <span class="p-float-label">
            <p-dropdown class="p-dropdown-w80" placeholder="" optionValue="value"
                        [autoDisplayFirst]="false"    optionLabel="label"></p-dropdown>
            <label>نوع شرکت</label>
          </span>
        </div>
        <div class=" p-md-3">
          <span class="p-float-label">
            <p-dropdown class="p-dropdown-w80" placeholder="" optionValue="value"
                        [autoDisplayFirst]="false"   optionLabel="label"></p-dropdown>
            <label>نوع دوره پرداخت</label>
          </span>
        </div>
        <div class=" p-md-3 ">
          <span class="p-float-label">
            <p-inputNumber [required]="true" mode="decimal" [useGrouping]="true" suffix=" ریال"
                         [minFractionDigits]="0" placeholder=""></p-inputNumber>
            <label>سقف مبلغ شارژ</label>
          </span>
        </div>
    </div>
    <br>
    <div class="p-d-flex p-flex-wrap">
        <div class=" p-md-3">
          <span class="p-float-label">
            <input class="input-w-100" placeholder="" pInputText>
            <label>کد شتابی بانکی</label>
          </span>
        </div>
        <div class=" p-md-3">
          <span class="p-float-label">
            <input class="input-w-100" placeholder="" pInputText/>
            <label>کد پیوست</label>
          </span>
        </div>
        <div class=" p-md-3"></div>
        <div class=" p-md-3"></div>
        <div class="p-md-12 ">
          <span class="p-float-label">
            <input class="input-w-100" placeholder="" pInputText/>
            <label>شرح / توضیحات</label>
          </span>
        </div>
        <div class=" p-md-3">
          <span class="p-float-label">
            <p-persian-calendar placeholder="" yearRange="1300:1410"
                                class="app-persian-calendar-style"></p-persian-calendar>
            <label>تاریخ شروع</label>
          </span>
        </div>
        <div class=" p-md-3">
          <span class="p-float-label">
            <p-persian-calendar placeholder="" yearRange="1300:1410"
                                class="app-persian-calendar-style"></p-persian-calendar>
            <label>تاریخ انقضا</label>
          </span>
        </div>
        <div class=" p-md-3">
            <p-checkbox name="check" id="ny " value="val1"></p-checkbox>
            <label> بدون تاریخ امضا </label>
        </div>
        <div class=" p-md-3"></div>
        <div class="p-md-3Fs"></div>
        <div class="p-md-6Fs">
            <br>
            <button id="btnRegister" class="p-button-info" pButton label="ثبت در خواست"></button>&nbsp;
            <button id="btnBatchRegister" class="p-button-info" pButton label="ثبت گروهی"></button>&nbsp;
        </div>
        <div class="p-md-3Fs "></div>
    </div>
</p-panel>
