<div class="app-mx-5r">
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
      <!-- <span class="p-float-label"> -->
        <input pInputText placeholder="کد ارجاع مشتری">
        <!-- <label>کد ارجاع مشتری</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col-3">
      <!-- <span class="p-float-label"> -->
        <input pInputText placeholder="شناسه ملی">
        <!-- <label>شناسه ملی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col-6">
      <!-- <span class="p-float-label"> -->
        <input required placeholder="عنوان" pInputText>
        <!-- <label>عنوان</label> -->
      <!-- </span> -->
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <input pInputText placeholder="کد ارجاع ذینفع شخصی">
        <!-- <label>کد ارجاع ذینفع شخصی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <input pInputText placeholder="کد ملی / کد اتباع / شناسه ملی">
        <!-- <label>کد ملی / کد اتباع / شناسه ملی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <p-dropdown placeholder="نوع سمت"></p-dropdown>
        <!-- <label>نوع سمت</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <input pInputText placeholder="حدود اختیارات">
        <!-- <label>حدود اختیارات</label> -->
      <!-- </span> -->
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
      <!-- <span class="p-float-label"> -->
        <p-persian-calendar placeholder="تاریخ شروع" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
        <!-- <label>تاریخ شروع</label> -->
      <!-- </span> -->
      <!-- <small>ورودی به صورت تاریخ می‌باشد</small> -->
    </div>
    <div class="p-field p-col-3">
      <!-- <span class="p-float-label"> -->
        <p-persian-calendar placeholder="تاریخ پایان" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
        <!-- <label>تاریخ پایان</label> -->
      <!-- </span> -->
      <!-- <small>ورودی به صورت تاریخ می‌باشد</small> -->
    </div>
    <div class="p-field p-as-center" style="width: auto;">
      <button class="p-button-raised" pButton icon="pi pi-plus" title="افزودن" label="&zwj;">
        <!--label req. for alignment-->
      </button>
      <small>&nbsp;</small><!-- for alignment -->
    </div>
  </div>
</div>

<!-- <p-divider class="app-divider-h">اطلاعات ثبتی</p-divider> -->

<p-card header="اطلاعات ثبتی">
  <p-table [value]="rows">
    <ng-template pTemplate="header">
      <tr>
        <th translate>ردیف</th>
        <th translate>عنوان</th>
        <th translate>نوع سمت</th>
        <th translate>کد ملی</th>
        <th translate>حدود اختیارات</th>
        <th translate>کد ارجاع ذینفع شخصی</th>
        <th translate>تاریخ شروع</th>
        <th translate>تاریخ پایان</th>
        <th style="width: 3%;"></th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" pTemplate="body" let-row>
      <tr>
        <td>{{i + 1}}</td>
        <td>{{row.title}}</td>
        <td>{{row.semat}}</td>
        <td>{{row.codeMelli}}</td>
        <td>{{row.hododeEkhtiarat}}</td>
        <td>{{row.codeErjaZinafShakhsi}}</td>
        <td>{{row.startDate}}</td>
        <td>{{row.endDate}}</td>
        <td>
          <button pButton icon="pi pi-trash" class="p-button-danger" title="حذف"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>