<p-panel [header]="viewMode ? 'نمایش ذینفع شخصی' : 'اصلاح ذینفع شخصی'">
  <div class="app-mx-5r" *ngIf="!detailsFlag">
    <p-card>
      <p-table [value]="fsList">
        <ng-template pTemplate="header">
          <tr>
            <th translate>ردیف</th>
            <th translate>نام ذینفع</th>
            <th translate>تاریخ تعریف</th>
            <th translate>شماره تماس</th>
            <th translate>نوع ذینفع</th>
            <th translate>نوع رابطه</th>
            <th translate>عملیات</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" pTemplate="body" let-row>
          <tr>
            <td>{{i + 1}}</td>
            <td>{{row.customerName}}</td>
            <td>{{row.registrationDate|castToDate}}</td>
            <td>{{row.contactNumber}}</td>
            <td>{{row.customerType}}</td>
            <td>{{row.relationshipType}}</td>
            <td>
              <button pButton icon="pi pi-eye" title="نمایش" class="p-button-secondary" (click)="selectRow(row, 'view')"></button>&nbsp;
              <button pButton icon="pi pi-chevron-circle-right" title="ویرایش" (click)="selectRow(row, 'edit')"></button>&nbsp;
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <div [appViewMode]="viewMode">
    <app-update-personal *ngIf="detailsFlag" [inputParam]="selectedRow"
                         (close)="onClose($event)"></app-update-personal>
  </div>
</p-panel>
