
:host{
    width: 100%;
    height: 100%;
}
.FS-p-md-2{
    width: 18.6667%;
}
.Fs-mlf{
    margin-right: 12.7rem  !important;
    margin-left: 1.7rem  !important;
}
.p-dropdown {
    width: 80%;
}
#btnReport{
    width: 10%;
    height: 30%;
    //margin-left: 45%;
    margin-right: 43%;
}
.FS-mr{
    margin-right: 2rem !important;
}

.FS-mr3{
    margin-right: 2.5rem !important;

}

.FS-mr2{
    margin-right: 3rem !important;
}
.FS-height{
    height: 100%;
}
#thAccountNumber{
    width: 15%;
}
