:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnCertificationBonCard {
    width: 18%;
    height: 30%;
    //margin-left: 45%;
    //margin-right: 40%;
}

#btnRegister {
    width: 10%;
    height: 55%;
    //margin-left: 45%;
    margin-right: 36%;
}
