<p-panel header="ثبت اطلاعات">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <input placeholder="شناسه واریز کننده" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input placeholder="نام واریز کننده" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input placeholder="ردیف شناسه" class="input-w-100" pInputText>
      </div>

    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <input placeholder="دوره" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <p-dropdown  placeholder="گروه" optionValue="value"></p-dropdown>
      </div>
      <div class="p-field p-col">
        <p-persian-calendar placeholder="مهلت پرداخت" yearRange="1300:1410"
                            class="app-persian-calendar-style"></p-persian-calendar>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
    <div class="p-field p-col">
      <input placeholder="شماره حساب 1" class="input-w-100" pInputText>
    </div>
    <div class="p-field p-col">
      <input placeholder="مبلغ 1" class="input-w-100" pInputText>
    </div>
      <div class="p-field p-col">
        <input placeholder="شرح 1" class="input-w-100" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <input placeholder="شماره حساب 2" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input placeholder="مبلغ 2" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input placeholder="شرح 2" class="input-w-100" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <input placeholder="شماره حساب 3" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input placeholder="مبلغ 3" class="input-w-100" pInputText>
      </div>
      <div class="p-field p-col">
        <input placeholder="شرح 3" class="input-w-100" pInputText>
      </div>
    </div>
    <div class="p-grid p-formgrid p-fluid app-mx-50r">
      <div class="p-col-12 p-lg-4">
        <button pButton pRipple type="button" label="بارگذاری" style="width:10rem" class="p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
</p-panel>
