<p-panel header="حساب های ریالی بر اساس بانک" [ngStyle]="{'width':'100%'}">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
      <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false" [options]="banklistConstants">
          </p-dropdown>

          <label>نام بانک</label>
   <button id="btnRecovery" class="p-button-info" pButton label="مشاهده"></button>&nbsp;

        </span>
      </div>
      <div class="p-field p-col">

      </div>

      <div class="p-field p-col">

      </div>
      <div class="p-field p-col">

      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center p-mt-5 p-mb-5">
  </div>
</p-panel>
