:host {
  width: 100%;
  height: 100%;
}
#btnCancel {
  width: 8%;
  height: 30%;
  //margin-left: 45%;
  //margin-right: 40%;
}

#btnConfirmation {
  width: 8%;
  height: 30%;
  //margin-left: 45%;
  margin-right: 38%;
}
#btnBack{
  width: 8%;
  height: 30%;
}
