<p-card header="جزئیات درخواست حواله پایا">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-col p-d-flex p-flex-column">
        <div class="row1 p-fluid p-formgrid p-grid app-col-px-2r">
          <div class="p-text-right">
            <label>شماره شبای مبدا : {{ibon}}</label>
            <br>
            <label>مبلغ حواله : {{amounts|addCommaSeparator}}ریال</label>
            <br>
            <label>ثبت کننده : {{registrar}}</label>
            <br>
            <label>تاریخ انجام حواله(تاریخ موثر) : {{dateEffective|castToDate}}</label>
          </div>
        </div>
      </div>

      <div class="p-col p-d-flex p-flex-column">
        <div class="p-d-flex  p-ai-stretch">
          <div class="p-col p-d-flex p-flex-column">
            <div class="row1 p-fluid p-formgrid p-grid app-col-px-2r">
              <div class="p-text-right">
                <label>شماره اقتصادی صاحب حساب مبدا : {{verificationCode}}</label>
                <br>
                <label>تعداد حواله : {{remittancesNumber}}</label>
                <br>
                <label>تاریخ ثبت : {{registrationDate|castToDate}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p-card>
    <p-table [value]="table1List">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate>گیرنده حواله</th>
          <th translate id="ibonCell">کد شبا</th>
          <th translate>بانک</th>
          <th translate>شناسه واریز کننده</th>
          <th translate>مبلغ</th>
          <th translate>کد ملی، شناسه ملی، کدفراگیر</th>
          <th translate>بابت</th>
          <th translate>کدپستی</th>
          <th translate>کدشهاب</th>
          <th translate>شرح</th>
          <th translate>مجوز ارسال مجدد</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-service>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{service.recipientRemittance}}</td>
          <td >{{service.ibonRecipient}}</td>
          <td>{{service.bank}}</td>
          <td>{{service.depositorID}}</td>
          <td>{{service.amount|addCommaSeparator}}</td>
          <td>{{service.nationalCode}}</td>
          <td>{{service.About}}</td>
          <td>{{service.postalCode}}</td>
          <td>{{service.shahabCode}}</td>
          <td>{{service.des}}</td>
          <td>{{service.resubmitLicense}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <br>
  <p-card header="فهرست تاییدکنندگان">
    <p-table [value]="table2List">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate>نام و نام خانوادگی</th>
          <th translate>نوع تایید</th>
          <th translate>وضعیت تایید</th>
          <th translate>تاریخ</th>
          <th translate>شرح</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-service>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{service.fullName}}</td>
          <td>{{service.verificationType}}</td>
          <td>{{service.verificationStatus}}</td>
          <td>{{service.history|castToDate}}</td>
          <td>{{service.des}}</td>
       </tr>
      </ng-template>
    </p-table>
  </p-card>
  <div class="p-md-12 FS-mt">
    <button id="btnConfirmation" class="p-button-info" pButton label="تایید" (click)="confirm()"></button>&nbsp;
    <button id="btnCancel" class="p-button-info" pButton label="انصراف" (click)="onClose()" ></button>&nbsp;
    <button id="btnBack" class="p-button-info" pButton label="بازگشت"  (click)="onClose()" ></button>&nbsp;
  </div>
</p-card>
<p-confirmDialog header="مشترک گرامی به اطلاع می رساند:" acceptLabel="تایید" [rejectVisible]="false" [closable]="false"></p-confirmDialog>
