<div class="app-mx-5r">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-col-2"></div>
    <div class="p-col mt-20">
      <p-pickList [source]="availableField" [target]="selectedField" [showSourceControls]="false"
                  [showTargetControls]="false" class="app-mirror-transfer-icons app-custom-picklist-header" sourceHeader="زمینه فعالیت"
                  targetHeader="زمینه فعالیت انتخاب شده">
        <ng-template let-row pTemplate="item">{{row.label}}</ng-template>
      </p-pickList>
    </div>
    <div class="p-col-2"></div>
  </div>
</div>
