  <p-tabView class="tab-view  p-shadow-3 section" [(activeIndex)]="activeTab">
    <p-tabPanel header="اطلاعات هویتی">
      <app-update-person-identity-info-editor [inputIdentity]="inputParam"></app-update-person-identity-info-editor>
    </p-tabPanel>
    <p-tabPanel header="امضاء"   >
      <app-update-party-signature-editor ></app-update-party-signature-editor>
    </p-tabPanel>
    <p-tabPanel header="نقش سازمانی"   >
      <app-update-organizational-role-editor></app-update-organizational-role-editor>
    </p-tabPanel>
    <p-tabPanel header="اطلاعات تماس"   >
      <app-update-organizational-contact-info-editor [inputIdentity]="inputParam"></app-update-organizational-contact-info-editor>
    </p-tabPanel>
    <p-tabPanel header="اطلاعات تکمیلی"   >
      <app-update-person-supplementary-info-editor  [inputIdentity]="inputParam"></app-update-person-supplementary-info-editor>
    </p-tabPanel>
    <p-tabPanel header=" زمینه فعالیت"   >
      زمینه فعالیت
    </p-tabPanel>
    <p-tabPanel header="مستندات"   >
      <app-update-organizational-entity-documents-editor></app-update-organizational-entity-documents-editor>
    </p-tabPanel>
  </p-tabView>

  <div class="bottom-buttons  p-shadow-3 section">
    <button pButton label="مرحله قبل" class="p-button-info" (click)="prevTab()" [disabled]="activeTab <= 0"></button>
    <button pButton label="ادامه" class="p-button-info" (click)="nextTab()" [disabled]="activeTab >= 6"></button>
  </div>
