#btnIdWallet {
    width: 30%;
    height: 63.4%;
}

:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnBatchRegister {
    width: 13%;
    height: 30%;
    //margin-left: 45%;
    //margin-right: 40%;
}

#btnCreateWallet {
    width: 13%;
    height: 55%;
    //margin-left: 45%;
    margin-right: 33%;
}

.FS-mr {
    margin-right: 6rem !important;
}

#btnIdWallet2 {
    width: 25%;
    height: 63.4%;

}

.FS-mr2 {
    margin-right: 18rem !important;
}

.FS-height {
    height: 100%;
}