<p-panel header="شارژ کیف پول" [ngStyle]="{'width':'100%'}">
    <div class="p-d-flex p-flex-wrap">
        <div class=" p-md-3 FS-mr">
            <input placeholder="شماره آی دی کیف پول" class="input-w-70" pInputText>
            <button id="btnIdWallet" class="p-button-outlined" pButton label="بازیابی"></button>&nbsp;
        </div>
        <div class=" p-md-3 FS-mr">
            <input placeholder="شماره موبایل" class="input-w-70" pInputText>
            <button id="btnIdWallet2" class="p-button-outlined" pButton label="بازیابی"></button>&nbsp;
        </div>
        <div class=" p-md-3 FS-mr">
            <input placeholder="موجودی فعلی" class="input-w-100" pInputText disabled>
        </div>
        <div class=" p-md-3 FS-mr">
            <p-dropdown placeholder="شماره حساب متصل" optionValue="value" optionLabel="label"></p-dropdown>
        </div>
        <div class=" p-md-3 FS-mr">
            <input placeholder="مبلغ شارژ" class="input-w-96" pInputText>
        </div>
        <div class=" p-md-3 FS-mr">
            <input class="input-w-100" placeholder="شرح تراکنش / توضیحات" pInputText/>
        </div>
    </div>
    <br>
    <div class="p-md-12 FS-height">
        <button id="btnCreateWallet" class="p-button-info" pButton label="ایجاد کیف پول"></button>&nbsp;
        <button id="btnBatchRegister" class="p-button-info" pButton label="ثبت گروهی"></button>&nbsp;
    </div>
</p-panel>
