.FS-mr{
    margin-right:5rem !important;
}
:host{
    width: 100%;
    height: 100%;
}
#btnRecovery{
    width: 10%;
    height: 55%;
    //margin-left: 45%;
    margin-right: 45%;
}
.FS-mt{
    margin-top: 2rem !important;
    margin-right: 5rem !important;
}
.Fs-p-md{
    width: 24.33333333%;
}
.FS-mr2{
    margin-right:9rem !important;
}
.FS-mt2{
    margin-top:0.6rem !important;
}
.Fs-mlf{
    margin-right: 9.7rem  !important;
    margin-left: 0.7rem  !important;
}
