<p-panel header="ثبت حواله ساتنا">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-col p-field">
        <ul>
          <li>
            دستور پرداخت صادر شده پس از پذیرش آن توسط بانک، قطعی و غیرقابل بازگشت بوده و انجام آن جزو تعهدات بانک محسوب می‌شود
          </li>
          <li>
            استرداد وجه مورد انتقال و کارمزد آن پس از پذیرش دستور پرداخت توسط بانک به هیچ وجه امکان پذیر نمی‌باشد
          </li>
          <li>
            بانک متعهد است در تاریخ درخواست شده توسط مشتری (تاریخ موثر)، وجه را به بانک ذینفع ارسال نماید
          </li>
          <li>
            حسب اعلام بانک مرکزی (ج.ا.ا) ساعات کار سامانه ساتنا در تمامی بانک‌ها در روزهای شنبه لغایت چهارشنبه از ساعت ۸ تا ۱۳ و پنج‌شنبه‌ها از ساعت ۸ تا ۱۲ می‌باشد.
            لازم به توضیح است، در صورتیکه مشتریان بعد از ساعات فوق و از طریق شعب یا سایت بانکداری اینترنتی بانک مبادرت به صدور حواله ساتنا نماید، حواله مزبور در روز کاری بعد به بانک مقصد ارسال می‌شود
          </li>
          <li>
            در صورتیکه به هر دلیل تاریخ موثر انتقال با یکی از ایام تعطیلی رسمی مصادف باشد، بانک انتقال را در اولین روز کاری بعد از تعطیلات انجام می‌دهد
          </li>
          <li>
            مسئولیت واریز وجه انتقال داده شده به حساب ذینفع (مقصد) در تاریخ موثر انتقال، بر عهده بانک ذینفع (مقصد) بوده و لذا مسئولیتی در این خصوص
            متوجه بانک پذیرنده دستور نمی‌باشد
          </li>
          <li>
            مسئولیت عواقب ناشی از هر گونه خطا یا اشتباه در مندرجات فرم دستور پرداخت بر عهده بانک صادر کننده آن می‌باشد
          </li>
          <li>
            در صورتیکه به هر دلیل (مسدودی حساب مقصد، اشتباه در درج مشخصات مقصد و نظایر آن) امکان واریز وجه به حساب ذینفع ذکر شده در متن دستور
            پرداخت وجود نداشته باشد، بانک وجه مورد انتقال را با کسر کارمزد برگشت وجه، حداکثر تا پایان روز کاری بعد به حساب دستور دهنده بر می‌گرداند.
            در اینصورت نیز کارمزد دستور پرداخت قابل استرداد نمی‌باشد
          </li>
        </ul>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-col p-field">
        <p-checkbox [binary] name="confirm" value="yes" [(ngModel)]="confirmed" label="موارد فوق مورد تائید اینجانب رضا یعقوبی می‌باشد"></p-checkbox>
      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center app-child-px-6r app-gap-1r">
    <button pButton label="تائید" (click)="confirm.emit()"></button>
  </div>
</p-panel>
