<p-panel header="انسداد کیف پول" [ngStyle]="{'width':'100%'}">
  <div class="app-mx-20r p-jc-center">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-2"></div>
      <div class="p-field p-col-4">
        <span class="p-float-label">
          <input class="input-w-65" pInputText>
          <label>شماره آی دی کیف پول</label>
        </span>
        <button id="btnIdWallet" class="p-button-outlined" pButton label="بازیابی"></button>&nbsp;
      </div>
      <div class="p-field p-col-4">
        <span class="p-float-label">
          <input class="input-w-65" pInputText>
          <label>شماره موبایل</label>
        </span>
        <button id="btnIdWallet2" class="p-button-outlined" pButton label="بازیابی"></button>&nbsp;
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid ">
      <div class="p-field p-col-2"></div>
      <div class="p-field p-col-4">
        <span class="p-float-label">
          <input class="input-w-100" pInputText disabled>
          <label>موجودی فعلی</label>
        </span>
      </div>
      <div class="p-field p-col-4">
        <span class="p-float-label">
          <input class="input-w-100" pInputText disabled>
          <label>ذینفع کیف پول</label>
        </span>
      </div>
    </div>
  </div>
  <div class="p-fluid p-formgrid p-jc-center p-grid app-mx-10r p-mt-1">
    <div class="p-field p-col-4 "></div>
    <div class="p-field p-col-4 ">
        <span class="p-float-label">
          <input class="input-w-100" pInputText/>
          <label>مبلغ انسداد</label>
        </span>
    </div>
    <div class="p-field p-col-4 "></div>
  </div>
  <div class="p-d-flex p-jc-center p-mt-5 p-mb-5">
    <button class="p-button-info" pButton label="انسداد مبلغ"></button>&nbsp;
    <button class="p-button-info" pButton label="انسداد کامل کیف پول"></button>&nbsp;
  </div>
</p-panel>
