<p-panel header="حساب‌های ریالی شما" class="w-100-p">
  <p-card class="account app-mx-5r p-d-block" header="جاری اشخاص حقوقی">
    <table class="account w-100-p">
      <tbody class="account">
        <tr>
          <td class="p-text-left">شماره حساب:</td>
          <td> 340-1000500148-86</td>


          <td class="p-text-left">مانده حساب:</td>
          <td>1٫004٫061٫000</td>

          <td class="p-text-left"></td>
          <td></td>

          <td class="p-text-left">
            <button pButton icon="pi pi-refresh" label="مشاهده مانده" class="p-button-info"></button>
          </td>
        </tr>
        <tr>
          <td class="p-text-left">کد شعبه افتتاح کننده:</td>
          <td>1555ونک</td>

          <td class="p-text-left">مبلغ مسدودی:</td>
          <td>1٫004٫012٫000</td>

          <td class="p-text-left">تاریخ آخرین گردش:</td>
          <td>1400/08/04</td>

          <td></td>
        </tr>
      </tbody>
    </table>
  </p-card>
  
  <div style="height: 2em;"></div>
  
  <p-card class="account app-mx-5r p-d-block" header="قرض الحسنه اشخاص حقوقی">
    <table class="account w-100-p">
      <tbody class="account">
        <tr>
          <td class="p-text-left">شماره حساب:</td>
          <td> 240-1000000589-25</td>

          <td class="p-text-left">مانده حساب:</td>
          <td>120٫000</td>

          <td class="p-text-left"></td>
          <td></td>

          <td class="p-text-left">
            <button pButton icon="pi pi-refresh" label="مشاهده مانده" class="p-button-info"></button>
          </td>
        </tr>
        <tr>
          <td class="p-text-left">کد شعبه افتتاح کننده:</td>
          <td>1555ونک</td>

          <td class="p-text-left">مبلغ مسدودی:</td>
          <td>41٫000</td>

          <td class="p-text-left">تاریخ آخرین گردش:</td>
          <td>1400/08/05</td>

          <td></td>
        </tr>
      </tbody>
    </table>
  </p-card>
</p-panel>
