<p-panel class="w-100-p">
  <ng-template pTemplate="header">
    <div class="bf-panel-header">
      <span class="bf-panel-title">حساب‌های ریالی شما</span>
      <button pButton icon="pi pi-arrow-right" title="بازگشت" class="p-button-rounded p-button-text bf-back-btn"
              (click)="goHome()"></button>
    </div>
  </ng-template>
  <p-card>
    <div class="app-nested-level-1">
      <p-table [value]="level1Rows" [loading]="level1Loading" dataKey="code">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4%"></th>
            <th translate style="width: 4%;">ردیف</th>
            <th translate class="app-w-10pc">کد سر فصل</th>
            <th translate class="p-text-right">عنوان سر فصل</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" pTemplate="body" let-row let-expanded="expanded">
          <tr>
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="row"
                class="expand-btn"
                [label]="expanded ? '−' : '+'">
              </button>
            </td>
            <td>{{i + 1}}</td>
            <td>{{row.code}}</td>
            <td class="p-text-right">{{row.title}}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-row>
          <tr>
            <td colspan="4">
              <div class="p-p-3 app-nested-level-2">
                <p-table [value]="row.rows" dataKey="code">
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="width:70px"></th>
                      <th class="p-text-right app-w-10pc">کد</th>
                      <th class="p-text-right">عنوان</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row let-expanded="expanded">
                    <tr>
                      <td>
                        <button
                          type="button"
                          pButton
                          pRipple
                          [pRowToggler]="row"
                          class="expand-btn level-2"
                          [label]="expanded ? '−' : '+'">
                        </button>
                      </td>
                      <td class="p-text-right">{{row.code}}</td>
                      <td class="p-text-right">{{row.title}}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="rowexpansion" let-row>
                    <tr>
                      <td colspan="3">
                        <div class="p-p-3 app-nested-level-3">
                          <p-table [value]="row.rows">
                            <ng-template pTemplate="header">
                              <tr>
                                <th style="min-width: 50px">عنوان حساب</th>
                                <th>شماره حساب</th>
                                <th style="width:120px"></th>
                              </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-account>
                              <tr>
                                <td>{{account.title}}</td>
                                <td>{{account.accountNumber}}</td>

                                <td>
                                  <button
                                    pButton
                                    type="button"
                                    label="نمایش"
                                    icon="pi pi-eye"
                                    class="p-button-sm p-button-info"
                                    (click)="showAccount(account)">
                                  </button>
                                </td>
                              </tr>
                            </ng-template>
                          </p-table>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-card>
  <!--<div class="p-d-flex p-flex-column app-gap-2r">
    <app-account-summary-card *ngFor="let account of accounts" [account]="account" (update)="confirmDlg.visible = true"></app-account-summary-card>
  </div>-->
</p-panel>

<p-confirmDialog #confirmDlg header="توجه" acceptLabel="تایید" message="عملیات با موفقیت انجام شد" [rejectVisible]="false" [closable]="false" icon="pi pi-info-circle">
</p-confirmDialog>
<p-dialog
  header="جزئیات حساب"
  [(visible)]="accountDialogVisible"
  [modal]="true"
  [style]="{width:'900px'}">

  <table class="account w-100-p" *ngIf="selectedAccount">
    <tbody>
    <tr>
      <td class="p-text-left">شماره حساب:</td>
      <td>{{selectedAccount.accountNumber}}</td>

      <td class="p-text-left">مانده حساب:</td>
      <td>{{selectedAccount.balance | addCommaSeparator}}</td>

      <td class="p-text-left">مبلغ مسدودی:</td>
      <td>{{selectedAccount.blockedAmount | addCommaSeparator}}</td>
    </tr>

    <tr>
      <td class="p-text-left">تاریخ افتتاح:</td>
      <td>{{selectedAccount.openingDate | castToDate}}</td>

      <td class="p-text-left">شعبه افتتاح:</td>
      <td>{{selectedAccount.openingBranch}}</td>

      <td class="p-text-left">آخرین گردش:</td>
      <td>{{selectedAccount.dateOfLastTurnover | castToDate}}</td>
    </tr>
    </tbody>
  </table>

</p-dialog>
