<!--<div class="app-mx-5r">-->
<!--  <div class="p-fluid p-formgrid p-grid app-col-px-2r">-->
<!--    <div class="p-field p-col-3">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="کد ارجاع مشتری" pInputText>-->
<!--&lt;!&ndash;        <label>کد ارجاع مشتری</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-3">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="شناسه ملی" pInputText>-->
<!--&lt;!&ndash;        <label>شناسه ملی</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-6">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="*عنوان" required pInputText>-->
<!--&lt;!&ndash;        <label>عنوان</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--      &lt;!&ndash; <small>متن کمکی</small> &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div *ngIf="contactAddressInfoFlag&&!contactInfoFlag&&!addressInfoFlag">
  <div>
    <button pButton label="ایجاد اطلاعات تماس +" class="p-button-info" (click)="createContactInfo()"></button>
  </div>
  <p-card header="اطلاعات تماس" class="p-d-flex p-my-5">

    <p-table [value]="TBListContact">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate>گروه نوع تماس</th>
          <th translate>نوع تماس</th>
          <th translate style="width:30%;">شماره تماس</th>
          <th translate>تاریخ شروع</th>
          <th translate>تاریخ پایان</th>
          <th translate>پیش فرض</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-row>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{row.contactTypeGroups|paramTitle :contactTypeGroups:'value':'label'}}</td>
          <td>{{row.contactTypes|paramTitle :contactTypes:'value':'label'}}</td>
          <td>{{row.discContact}}</td>
          <td>{{row.startDate | castToDate}}</td>
          <td>{{row.endDate | castToDate}}</td>
          <td>
            <p-inputSwitch></p-inputSwitch>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>


  <div>
    <button pButton label="ایجاد اطلاعات نشانی +" class="p-button-info"  (click)="createAddressInfo()"></button>
  </div>
  <p-card header="اطلاعات نشانی" class="p-d-flex p-my-5">

    <p-table [value]="TBListAddress">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate>نوع نشانی</th>
          <th translate>استان</th>
          <th translate>شهر</th>
          <th translate>منطقه</th>
          <th translate>نحوه تصرف</th>
          <th translate style="width:35%;">شرح نشانی</th>
          <th translate>کد پستی</th>
          <th translate>تاریخ شروع</th>
          <th translate>تاریخ پایان</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-row>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{row.contactTypes|paramTitle :contactTypes:'value':'label'}} </td>
          <td>{{row.province|paramTitle :province:'value':'label'}}</td>
          <td>{{row.city|paramTitle :city:'value':'label'}}</td>
          <td>{{row.mantaghe|paramTitle :mantaghe:'value':'label'}}</td>
          <td>{{row.nahveTasarofs|paramTitle :nahveTasarofs:'value':'label'}} </td>
          <td>{{row.desAddress}}</td>
          <td>{{row.postalCode}}</td>
          <td>{{row.startDate| castToDate}}</td>
          <td>{{row.endDate| castToDate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
<app-create-contact *ngIf="contactInfoFlag" (close)="onClose()" (myListContact)="addItemContact($event)"></app-create-contact>
<app-create-address *ngIf="addressInfoFlag"  (close)="onClose()" (myListAddress)="addItemAddress($event)"></app-create-address>
