<p-panel header="ثبت اطلاعات">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-dropdown class="p-dropdown-w100" optionValue="value"
                    [options]="dropList" optionLabel="label"></p-dropdown>
          <label>مشتری</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-dropdown class="p-dropdown-w100" optionValue="value"
                      optionLabel="label"></p-dropdown>
          <label>مشتری ویژه</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>کد ملی</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شماره حساب</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شماره حساب ذینفع</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شماره موبایل</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>کد دوره پرداخت</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>سقف پرداخت</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>نوع پرداخت</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شناسه واریز</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شناسه عددی</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شناسه حرفی</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شماره حواله</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شماره سهامدار</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>شماره شناسنامه ذینفع</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-inputNumber [required]="true" mode="decimal" [useGrouping]="true" suffix=" ریال" [minFractionDigits]="0"
                          ></p-inputNumber>
          <label>مبلغ قابل پرداخت</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410"
                            class="app-persian-calendar-style"></p-persian-calendar>
          <label>تاریخ شروع پرداخت</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410"
                              class="app-persian-calendar-style"></p-persian-calendar>
          <label>تاریخ انقضا پرداخت</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>نام</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>نام خانوادگی</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>نام پدر</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-10r">
    </div>
    <div class="p-d-flex p-jc-center">
      <button pButton class="p-button-info btnWidth btn-ml " label="ثبت"></button>
      <button pButton class="p-button-info btnWidth" label="پاک کردن فرم"></button>
    </div>
  </div>
</p-panel>
