<p-panel header="کارتابل پرداخت قبوض">
  <p-card *ngIf="!detailsFlag">
    <p-table [value]="tempTable">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate id="Column2">شماره موقت در خواست</th>
          <th translate>نوع در خواست</th>
          <th translate>نوع قبض</th>
          <th translate>نام شرکت</th>
          <th translate>شماره حساب تامین کننده وجه</th>
          <th translate>مبلغ (ریال)</th>
          <th translate>تاریخ ثبت</th>
          <th translate>ثبت کننده</th>
          <th translate>عملیات</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-service>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{service.temporaryApplicationNumber}}</td>
          <td>{{service.applicationType}}</td>
          <td>{{service.ghabzType}}</td>
          <td>{{service.companyName}}</td>
          <td>{{service.accountnNumberdeterminesAmount}}</td>
          <td>{{service.amounts|addCommaSeparator}}</td>
          <td>{{service.dateSubmit|castToDate}}</td>
          <td>{{service.registrar}}</td>
          <td>
            <button pButton icon="pi pi-chevron-circle-right" (click)="editServiceRow(service)"></button>&nbsp;
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <app-request-ghoboz *ngIf="detailsFlag" [inputDetails]="fsList" (close)="onClose($event)"></app-request-ghoboz>
  <div class="p-d-flex p-jc-center p-mt-3" *ngIf="!detailsFlag">
    <button pButton class="p-button-info  " label="بروزرسانی" (click)="tempTable=fsList;"></button>
  </div>
</p-panel>
