<p-panel header="دریافت فایل صورتحساب">
  <div class="app-mx-30r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col-6">
        <p-dropdown [autoDisplayFirst]="false" [editable]="true" placeholder="شماره حساب"  [options]="acItems"></p-dropdown>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col p-d-flex p-flex-column app-vertical-radios">
        <span class="header" style="margin-bottom: 8px;">
          دوره صورتحساب:
        </span>

        <p-radioButton name="billingPeriod" [(ngModel)]="billingPeriod" value="previousMonth" label="ماه قبل" [ngStyle]="{marginBottom: '12px'}"></p-radioButton>
        <p-radioButton name="billingPeriod" [(ngModel)]="billingPeriod" value="currentMonth" label="ماه جاری" [ngStyle]="{marginBottom: '12px'}"></p-radioButton>
        <p-radioButton name="billingPeriod" [(ngModel)]="billingPeriod" value="previousDay" label="روز قبل" [ngStyle]="{marginBottom: '3px'}"></p-radioButton>
        <div class="p-d-flex app-gap-2r custom-range-row">
          <p-radioButton name="billingPeriod" [(ngModel)]="billingPeriod" value="customRange" label="بازه"></p-radioButton>
          <p-persian-calendar placeholder="از تاریخ" yearRange="1300:1410" class="app-persian-calendar-style" [disabled]="billingPeriod != 'customRange'"></p-persian-calendar>
          <p-persian-calendar placeholder="تا تاریخ" yearRange="1300:1410" class="app-persian-calendar-style" [disabled]="billingPeriod != 'customRange'"></p-persian-calendar>
        </div>

      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col-4">
        <p-checkbox [(ngModel)]="customize" [binary]="true" label="سفارشی نمودن قالب صورتحساب"></p-checkbox>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col p-d-flex app-gap-1r">
        <span style="margin-bottom: 8px;">
          دریافت به صورت:
        </span>

        <p-radioButton name="format" [(ngModel)]="format" value="html" label="HTML" [ngStyle]="{marginBottom: '12px'}"></p-radioButton>
        <p-radioButton name="format" [(ngModel)]="format" value="csv" label="CSV" [ngStyle]="{marginBottom: '12px'}"></p-radioButton>

      </div>
    </div>

  </div>

  <div class="p-d-flex app-gap-1r app-child-px-3r p-jc-center p-mt-6">
    <button label="تائید" pButton (click)="confirmDlg.visible = true"></button>
  </div>
</p-panel>

<p-confirmDialog #confirmDlg header="توجه" acceptLabel="تایید" message="عملیات با موفقیت انجام شد" [rejectVisible]="false" [closable]="false" icon="pi pi-info-circle">
</p-confirmDialog>
