<div class="app-mx-5r">
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <input placeholder="شناسه ملی" pInputText>
        <!-- <label>شناسه ملی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <input placeholder="کد سازمانی" pInputText>
        <!-- <label>کد سازمانی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <p-dropdown placeholder="نقش سازمانی"></p-dropdown>
        <!-- <label>نقش سازمانی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <p-dropdown placeholder="بانک"></p-dropdown>
        <!-- <label>بانک</label> -->
      <!-- </span> -->
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <p-dropdown placeholder="نوع ذینفع سازمانی"></p-dropdown>
        <!-- <label>نوع ذینفع سازمانی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <p-dropdown placeholder="وضعیت ذینفع سازمانی"></p-dropdown>
        <!-- <label>وضعیت ذینفع سازمانی</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <input placeholder="کد شهاب" pInputText>
        <!-- <label>کد شهاب</label> -->
      <!-- </span> -->
    </div>
    <div class="p-field p-col">
      <!-- <span class="p-float-label"> -->
        <p-dropdown placeholder="نوع مالکیت"></p-dropdown>
        <!-- <label>نوع مالکیت</label> -->
      <!-- </span> -->
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-10">
      <!-- <span class="p-float-label"> -->
        <input placeholder="عنوان" pInputText>
        <!-- <label>عنوان</label> -->
      <!-- </span> -->
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-10">
      <!-- <span class="p-float-label"> -->
        <input placeholder="عنوان انگلیسی" pInputText>
        <!-- <label>عنوان انگلیسی</label> -->
      <!-- </span> -->
    </div>
  </div>
</div>

<!-- <p-divider class="app-divider-h">اطلاعات ثبتی</p-divider> -->
<p-card header="اطلاعات ثبتی">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
        <!-- <span class="p-float-label"> -->
          <input placeholder="شماره ثبت" pInputText>
          <!-- <label>شماره ثبت</label> -->
        <!-- </span> -->
      </div>
      <div class="p-field p-col">
        <!-- <span class="p-float-label"> -->
          <input placeholder="شماره روزنامه رسمی" pInputText>
          <!-- <label>شماره روزنامه رسمی</label> -->
        <!-- </span> -->
      </div>
      <div class="p-field p-col">
        <!-- <span class="p-float-label"> -->
          <input placeholder="حوزه ثبت" pInputText>
          <!-- <label>حوزه ثبت</label> -->
        <!-- </span> -->
      </div>
      <div class="p-field p-col">
        <!-- <span class="p-float-label"> -->
          <input placeholder="تاریخ ثبت" pInputText>
          <!-- <label>تاریخ ثبت</label> -->
        <!-- </span> -->
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col-3">
        <!-- <span class="p-float-label"> -->
          <input placeholder="محل ثبت" pInputText>
          <!-- <label>محل ثبت</label> -->
        <!-- </span> -->
      </div>
    </div>
  </div>
</p-card>