<div class="app-mx-5r" [formGroup]="form">
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
       <span class="p-float-label">
        <input formControlName="nationalCode" pInputText>
         <label>شناسه ملی</label>
       </span>
    </div>
    <div class="p-field p-col">
       <span class="p-float-label">
        <input formControlName="organizationalCode" pInputText>
         <label>کد سازمانی</label>
       </span>
    </div>
    <div class="p-field p-col">
       <span class="p-float-label">
        <p-dropdown formControlName="availableRoles" [options]="availableRoles"></p-dropdown>
         <label>نقش سازمانی</label>
       </span>
    </div>
    <div class="p-field p-col">
       <span class="p-float-label">
        <p-dropdown [autoDisplayFirst]="false" formControlName="bankNameList"
                    [options]="bankNameList"></p-dropdown>
         <label>بانک</label>
       </span>
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
       <span class="p-float-label">
        <p-dropdown formControlName="organizationalUnit"
                    [autoDisplayFirst]="false" [options]="organizationalUnit"></p-dropdown>
         <label>نوع ذینفع سازمانی</label>
       </span>
    </div>
    <div class="p-field p-col">
       <span class="p-float-label">
        <p-dropdown [autoDisplayFirst]="false" formControlName="statusZinaf"
                    [options]="statusZinaf"></p-dropdown>
         <label>وضعیت ذینفع سازمانی</label>
       </span>
    </div>
    <div class="p-field p-col">
       <span class="p-float-label">
        <input formControlName="shahabCode" pInputText>
         <label>کد شهاب</label>
       </span>
    </div>
    <div class="p-field p-col">
       <span class="p-float-label">
        <p-dropdown [autoDisplayFirst]="false" formControlName="noMalekiat"
                   [options]="noMalekiat"></p-dropdown>
         <label>نوع مالکیت</label>
       </span>
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-9">
       <span class="p-float-label">
        <input formControlName="title" pInputText>
         <label>عنوان</label>
       </span>
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-9">
       <span class="p-float-label">
        <input formControlName="enTitle" pInputText>
         <label>عنوان انگلیسی</label>
       </span>
    </div>
  </div>

<!-- <p-divider class="app-divider-h">اطلاعات ثبتی</p-divider> -->
<p-card header="اطلاعات ثبتی">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
         <span class="p-float-label">
          <input formControlName="numberSubmit" pInputText>
           <label>شماره ثبت</label>
         </span>
      </div>
      <div class="p-field p-col">
         <span class="p-float-label">
          <input formControlName="numberNewspaperOfficial" pInputText>
           <label>شماره روزنامه رسمی</label>
         </span>
      </div>
      <div class="p-field p-col">
         <span class="p-float-label">
          <input formControlName="areaRegistration" pInputText>
           <label>حوزه ثبت</label>
         </span>
      </div>
      <div class="p-field p-col">
         <span class="p-float-label">
          <input formControlName="dateRegistration" pInputText>
           <label>تاریخ ثبت</label>
         </span>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col-3">
         <span class="p-float-label">
          <input formControlName="placeRegistration" pInputText>
           <label>محل ثبت</label>
         </span>
      </div>
    </div>
  </div>
</p-card>
</div>
