<div class="app-mx-5r" [formGroup]="form">
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <input formControlName="nationalCode" placeholder="کد ملی" pInputText (keyup.enter)="onNationalCodeEnterKey()">
      <!--      <span class="p-float-label">-->
      <!--        <input pInputText>-->
      <!--        <label>کد ملی</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <!--        <input pInputText>-->
      <!--        <label>نقش سازمانی</label>-->
      <!--      </span>-->
      <input formControlName="organizationalRole" placeholder="نقش سازمانی" pInputText>
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <!--        <input pInputText>-->
      <!--        <label>کد پرسنلی</label>-->
      <!--      </span>-->
      <input formControlName="personeliCode" placeholder="کد پرسنلی" pInputText>
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <!--        <p-dropdown [options]="banks" optionLabel="name" [autoDisplayFirst]="false"></p-dropdown>-->
      <!--        <label>بانک</label>-->
      <!--      </span>-->
      <p-dropdown class="p-dropdown-w80" formControlName="bankId" placeholder="بانک" [autoDisplayFirst]="false" [options]="banks" ></p-dropdown>
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
      <input formControlName="firstName" placeholder="نام" pInputText>
      <!--      <span class="p-float-label">-->
      <!--        <input required pInputText>-->
      <!--        <label>نام</label>-->
      <!--      </span>-->
      <!-- <small>متن کمکی</small> -->
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <!--        <input required pInputText>-->
      <!--        <label>نام خانوادگی</label>-->
      <!--      </span>-->
      <!-- <small>متن کمکی</small> -->
      <input formControlName="lastName" placeholder="نام خانوادگی" pInputText>
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <!--        <input required pInputText>-->
      <!--        <label>نام پدر</label>-->
      <!--      </span>-->
      <!-- <small>متن کمکی</small> -->
      <input formControlName="fatherName" placeholder="نام پدر" pInputText>
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-inputNumber mode="decimal" formControlName="shenasnameNumber" placeholder="شماره شناسنامه" [useGrouping]="false"></p-inputNumber>
      <!--        <label>شماره شناسنامه</label>-->
      <!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-persian-calendar yearRange="1300:1410" class="app-persian-calendar-style" formControlName="shenasnameIssueDate" placeholder="تاریخ صدور شناسنامه"></p-persian-calendar>
      <!--        <label>تاریخ صدور شناسنامه</label>-->
      <!--      </span>-->
      <!-- <small>ورودی به صورت تاریخ می باشد</small> -->
    </div>
    <div class="p-field p-col-3">
      <!-- <span class="p-float-label"> -->
      <input pInputText formControlName="shenasnameSeriesLetter" placeholder="حرف سری شناسنامه">
      <!-- <label style="font-size: 80%">حرف سری شناسنامه</label> -->
      <!-- </span> -->
      <!-- <small>متن کمکی</small> -->
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-inputNumber mode="decimal" formControlName="shenasnameSeriesNumber" placeholder="عدد سری شناسنامه" [useGrouping]="false"></p-inputNumber>
      <!--        <label>عدد سری شناسنامه</label>-->
      <!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-inputNumber mode="decimal" formControlName="shenasnameSerial" placeholder="سریال شناسنامه" [useGrouping]="false"></p-inputNumber>
      <!--        <label>سریال شناسنامه</label>-->
      <!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-inputNumber mode="decimal" formControlName="cartMelliSerial" placeholder="سریال کارت ملی" [useGrouping]="false"></p-inputNumber>
      <!--        <label>سریال کارت ملی</label>-->
      <!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-dropdown formControlName="shenasnameTypeId" placeholder="نوع شناسنامه" [options]="shenasnameType"></p-dropdown>
      <!--        <label>نوع شناسنامه</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-dropdown [options]="cityList" formControlName="shenasnameIssueCityId" placeholder="شهر محل صدور شناسنامه"></p-dropdown>
      <!--        <label>شهر محل صدور شناسنامه</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-dropdown formControlName="shenasnameHozeCodeId" placeholder="کد حوزه شناسنامه" [options]="codeHoze"></p-dropdown>
      <!--        <label>کد حوزه شناسنامه</label>-->
      <!--      </span>-->
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-dropdown [options]="genderTypes" formControlName="genderId" placeholder="جنسیت"></p-dropdown>
      <!--        <label>جنسیت</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-persian-calendar formControlName="birthDate" placeholder="تاریخ تولد" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
      <!--        <label>تاریخ تولد</label>-->
      <!--      </span>-->
      <!-- <small>ورودی به صورت تاریخ می باشد</small> -->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-dropdown [options]="cityList" formControlName="birthCityId" placeholder="شهر محل تولد"></p-dropdown>
      <!--        <label>شهر محل تولد</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-dropdown [options]="countryList" formControlName="birthCountryId" placeholder="کشور محل تولد"></p-dropdown>
      <!--        <label>کشور محل تولد</label>-->
      <!--      </span>-->
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-dropdown [options]="religion" formControlName="religionId" placeholder="دین"></p-dropdown>
      <!--        <label>دین</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-dropdown [options]="sect" formControlName="faithId" placeholder="مذهب"></p-dropdown>
      <!--        <label>مذهب</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col-3">
      <!--      <span class="p-float-label">-->
      <p-dropdown [options]="residenceTypes" formControlName="eghamatStatusId" placeholder="وضعیت اقامت"></p-dropdown>
      <!--        <label>وضعیت اقامت</label>-->
      <!--      </span>-->
    </div>
  </div>

  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <p-calendar formControlName="birthDateGregorian" placeholder="تاریخ تولد به میلادی"></p-calendar>
      <!--        <label>تاریخ تولد به میلادی</label>-->
      <!--      </span>-->
      <!-- <small>ورودی به صورت تاریخ می باشد</small> -->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <input formControlName="firstNameLatin" placeholder="نام انگلیسی" pInputText>
      <!--        <label>نام انگلیسی</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <input formControlName="lastNameLatin" placeholder="نام خانوادگی انگلیسی" pInputText>
      <!--        <label>نام خانوادگی انگلیسی</label>-->
      <!--      </span>-->
    </div>
    <div class="p-field p-col">
      <!--      <span class="p-float-label">-->
      <input formControlName="enFatherName" placeholder="نام خانوادگی انگلیسی" pInputText>
      <!--        <label>نام پدر انگلیسی</label>-->
      <!--      </span>-->
    </div>

  </div>
</div>
