<p-card header="مشخصات درخواست حواله ساتنا">
  <div class="app-mx-10r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-col p-d-flex p-flex-column">
        <div class="row1 p-fluid p-formgrid p-grid app-col-px-2r">
          <div class="p-text-right">
            <label>شماره حساب مبدا: {{satnaRow.sourceAccountNumber}}</label>
            <br>
            <label>نوع حساب مبدا: {{satnaRow.accountTypeOrigin}}</label>
            <br>
            <label>نوع حساب مقصد: {{satnaRow.accountTypeDestination}}</label>
            <br>
            <label>مبلغ حواله: {{satnaRow.amounts|addCommaSeparator}}ریال</label>
            <br>
            <label>کد ملی / شناسه ملی / شماره فراگیر ذینفع: {{satnaRow.nationalCode}}</label>
            <br>
            <label>کد شهاب ذینفع: {{satnaRow.shahab}}</label>
            <br>
            <label>تاریخ ثبت: {{satnaRow.registrationDate|castToDate}}</label>
          </div>
        </div>
      </div>

      <div class="p-col p-d-flex p-flex-column">
        <div class="p-d-flex  p-ai-stretch">
          <div class="p-col p-d-flex p-flex-column">
            <div class="row1 p-fluid p-formgrid p-grid app-col-px-2r">
              <div class="p-text-right">
                <label>شماره شبا مبدا: {{satnaRow.ibonOrigin}}</label>
                <br>
                <label>شماره شبا مقصد: {{satnaRow.ibonDestination}}</label>
                <br>
                <label>گیرنده حواله: {{satnaRow.remittanceRecipientName}}</label>
                <br>
                <label>شرح: {{satnaRow.des}}</label>
                <br>
                <label>کدپستی ذینفع: {{satnaRow.postalCode}}</label>
                <br>
                <label>ثبت کننده: {{satnaRow.registrar}}</label>
                <br>
                <label>شناسه واریز کننده: {{""}}</label>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p-card header="فهرست تاییدکنندگان">
    <p-table [value]="approversList">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate>نام و نام خانوادگی</th>
          <th translate>نوع تایید</th>
          <th translate>وضعیت تایید</th>
          <th translate>تاریخ</th>
          <th translate>شرح</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-service>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{service.fullName}}</td>
          <td>{{service.verificationType}}</td>
          <td>{{service.verificationStatus}}</td>
          <td>{{service.history|castToDate}}</td>
          <td>{{service.des}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <div class="p-md-12 FS-mt">
    <button id="btnConfirmation" class="p-button-info" pButton label="تایید" (click)="confirm()"></button>&nbsp;
    <button id="btnCancel" class="p-button-info" pButton label="عدم تایید" (click)="onClose()"></button>&nbsp;
    <button id="btnBack" class="p-button-info" pButton label="انصراف" (click)="onClose()"></button>&nbsp;
  </div>
</p-card>
<p-confirmDialog header="مشترک گرامی به اطلاع می رساند:" acceptLabel="تایید" [rejectVisible]="false" [closable]="false">
</p-confirmDialog>
