<p-panel header="ثبت قبض" [ngStyle]="{'width':'100%'}">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText>
        <label>شناسه قبض</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText>
        <label>شناسه پرداخت</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <p-dropdown class="p-dropdown-w100" optionValue="value"
                    [autoDisplayFirst]="false" optionLabel="label"></p-dropdown>
        <label>نوع قبض</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <p-inputNumber [required]="true" mode="decimal" [useGrouping]="true" suffix=" ریال"
                       [minFractionDigits]="0"></p-inputNumber>
        <label>مبلغ قبض</label>
      </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>مهلت پرداخت</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <p-dropdown class="p-dropdown-w100" optionValue="value"
                    [autoDisplayFirst]="false" optionLabel="label"></p-dropdown>
        <label>سرفصل حسابداری</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <p-dropdown [editable]="true" [autoDisplayFirst]="false" class="p-dropdown-w100"
                    [options]="acItems"></p-dropdown>
        <label>شماره حساب</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>شرح / توضیحات</label>
      </span>
      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center p-mt-5">
    <button id="btnRegister" class="p-button-info" pButton label="پرداخت"></button>&nbsp;
    <button id="btnInquiryGhabz" class="p-button-info" pButton label="استعلام قبض"></button>&nbsp;
  </div>
</p-panel>
