:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnPrint {
    width: 15%;
    height: 30%;
    //margin-left: 45%;
    //margin-right: 40%;
}

#btnSearch {
    width: 15%;
    height: 55%;
    //margin-left: 45%;
    margin-right: 34%;
}

.FS-mr {
    margin-right: 3rem !important;
}

#btnIdWallet {
    width: 30%;
    height: 63%;
}

.FS-mrl {
    margin-right: 37% !important;
    margin-left: 35% !important;
}