<p-panel header="جستجو کد تراکنش یکتا" [ngStyle]="{'width':'100%'}">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-mt-1">
      <div class="p-field p-col">
          <span class="p-float-label">
            <input class="input-w-100" pInputText disabled>
            <label>شماره حساب</label>
          </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-inputNumber [required]="true" mode="decimal" [useGrouping]="true" suffix=" ریال"
                         [minFractionDigits]="0" [disabled]="true"></p-inputNumber>
          <label>مبلغ</label>
        </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>تاریخ ایجاد</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>کاربر ایجاد کننده</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>واحد ایجاد کننده</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>نوع کد تراکنش</label>
      </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r p-mt-1">
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>کد پیوست</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>شناسه ملی  / حقوقی</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>تاریخ انقضا</label>
      </span>
      </div>
      <div class="p-field p-col">
      <span class="p-float-label">
        <input class="input-w-100" pInputText disabled>
        <label>سر فصل حسابداری</label>
      </span>
      </div>
    </div>
  </div>
  <div class="p-d-flex p-jc-center p-mt-5 p-mb-5">
    <button id="btnSearch" class="p-button-info" pButton label="جستجو" (click)="tableFlag=true;"></button>&nbsp;
    <button id="btnPrint" class="p-button-info" pButton label="چاپ اطلاعات"></button>&nbsp;
  </div>
  <p-card *ngIf=tableFlag>
    <p-table [value]="fsList">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate id="thAccountNumber">شماره حساب</th>
          <th translate>تاریخ</th>
          <th translate>نام شعبه</th>
          <th translate>واریز کننده</th>
          <th translate>شماره سند</th>
          <th translate>کد یکتا</th>
          <th translate>بدهکار</th>
          <th translate>بستانکار</th>
          <th translate>توضیحات</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-searchYekta>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{searchYekta.accountNumber}}</td>
          <td>{{searchYekta.history}}</td>
          <td>{{searchYekta.branchName}}</td>
          <td>{{searchYekta.Depositor}}</td>
          <td>{{searchYekta.docNumber}}</td>
          <td>{{searchYekta.yektaCode}}</td>
          <td>{{searchYekta.debtor|addCommaSeparator}}</td>
          <td>{{searchYekta.creditor|addCommaSeparator}}</td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</p-panel>
