<p-panel header="حواله منظم پایا">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-col p-field">
        <ul>
          <li>
            در صورت عدم تامین وجه تا ساعت ۹ صبح روز تاریخ مورد نظر، امکان ارسال درخواست وجود نخواهد داشت.
          </li>
          <li>
            مشتری با ثبت این حواله منظم به بانک اجازه می‌دهد تا وجه مورد انتقال را در تاریخ‌های سررسید هر دوره همراه با
            کارمزدهای
            مربوطه از حساب وی برداشت نموده و به حساب ذینفع منتقل نماید.
          </li>
          <li>
            درخواست حواله صادر شده پس از پذیرش آن توسط بانک، جزو تعهدات بانک مبدا بوده و پس از ارسال در تاریخ‌های سررسی
            قطعی و غیرقابل بازگشت محسوب می‌شود.
          </li>
          <li>
            استرداد وجه مورد انتقال پس از پذیرش درخواست حواله توسط بانک به هیچ وجه امکان‌پذیر نمی‌باشد.
          </li>
          <li>
            بانک پذیرنده متعهد است در تاریخ‌های مورد درخواست از سوی مشتری (تاریخ‌های سررسید)، وجه آن را از طریق سامانه
            بانک مرکزی به بانک مقصد ارسال نماید.
          </li>
          <li>
            مسئولیت واریز وجه انتقال داده شده به حساب ذینفع (مقصد) پس از ارسال توسط این بانک بر عهده بانک (مقصد) بوده و
            لذا مسئولیتی در این خصوص متوجه بانک پذیرنده نمی‌باشد.
          </li>
          <li>
            مبنای تبادل وجوه از طریق پایا، صرفا شناسه حساب بانکی ایران (شبا - IBAN) می‌باشد،
            لذا مسئولیتی از نظر انطباق شبای ذکر شده با سایر مشخصات ذینفع، متوجه بانک مبدا و مقصد نمی‌باشد.
          </li>
          <li>
            مسئولیت عواقب ناشی از هرگونه خطا یا اشتباه در مندرجات فرم حواله بر عهده درخواست کننده آن می‌باشد.
          </li>
          <li>
            در صورتی که به هر دلیل (بسته بودن حساب، اشتباه در درج شبا (IBAN) و نظایر آن)
            امکان واریز وجه به حساب ذینفع ذکر شده در متن دستور پرداخت وجود نداشته باشد،
            بانک اصل وجه مورد انتقال را پس از دریافت از بانک مقصد تا پایان روز کاری بعد به حساب درخواست کننده
            برمی‌گرداند،
            در این صورت نیز کارمزد دستور پرداخت قابل استرداد نیست.
          </li>
          <li>
            اگر دوره حواله منظم پایا ماهیانه انتخاب شود و تاریخ برداشت ۳۰ یا ۳۱ روزه ثبت شده باشد، برداشت در ماه‌های ۲۹
            یا ۳۰ روزه در آخرین روز ماه انجام خواهد شد.
          </li>
          <li>
            در صورت تلاقی حواله پایا با روزهای تعطیل، مبلغ حواله از حساب کسر و ارسال حواله به مفصد، در اولین روز کاری
            بعد از آن انجام خواهد شد.
          </li>
        </ul>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-col p-field">
        <p-checkbox [binary]="true" name="confirmed" [value]="true" [(ngModel)]="confirmCheckboxValue"
                    label="موارد فوق مورد تائید اینجانب رضا یعقوبی می‌باشد."></p-checkbox>
      </div>
    </div>
    <div class="p-d-flex p-jc-center app-child-px-6r app-gap-1r">
      <button pButton label="تائید" (click)="confirm.emit(true)"></button>
      <button pButton label="انصراف" (click)="confirm.emit(false)"></button>
    </div>
  </div>
</p-panel>
