:host {
  width: 100%;
}
img{
width: 20%;
}
tbody.account > tr > td {
  // background-color: #ffd;
  padding-inline-start: 2em;
}

tbody.account > tr.account-type > td {
  // background-color: #ddd;
}

tbody.account > tr > td {
  padding-inline-start: .5em;
  padding-inline-end: 2em;
}

tbody.account > tr > td.p-text-left {
  padding-inline-start: 2em;
  padding-inline-end: .5em;
}
