:host {
  width: 100%;
}
img{
width: 25%;
}
.widthAccountNumberTitel{
  width:5%;
}
.widthAccountNumber{
  width:13%;
}

tbody.account > tr > td {
  // background-color: #ffd;
  padding-inline-start: 1em;
}

tbody.account > tr.account-type > td {
  // background-color: #ddd;
}

tbody.account > tr > td {
  padding-inline-start: .5em;
  padding-inline-end: 1em;
}

tbody.account > tr > td.p-text-left {
  padding-inline-start: 1em;
  padding-inline-end: .5em;
}
