<p-panel class="w-100-p">
  <ng-template pTemplate="header">
    <div class="bf-panel-header">
      <span class="bf-panel-title">حساب‌های ارزی شما</span>
      <button pButton icon="pi pi-arrow-right" title="بازگشت" class="p-button-rounded p-button-text bf-back-btn"
              (click)="goHome()"></button>
    </div>
  </ng-template>

  <ng-container *ngFor="let acc of accounts; let last = last">
    <p-card class="account app-mx-5r p-d-block" [header]="acc.title">
      <table class="account w-100-p">
        <tbody class="account">
        <tr>
          <td class="p-text-right">شماره حساب:</td>
          <td class="widthAccountNumber p-text-right">{{acc.accountNumber}}</td>

          <td class="p-text-right">مانده حساب:</td>
          <td class="p-text-right">{{acc.balance | addCommaSeparator}}</td>

          <td class="p-text-right">نوع ارز:</td>
          <td class="p-text-right">{{acc.currencyType}}</td>
          <img [src]="acc.currencyIcon">

          <td class="p-text-left">
            <button pButton icon="pi pi-refresh" label="بروز رسانی مانده" class="p-button-info"
                    (click)="confirmDlg.visible = true"></button>
          </td>
        </tr>
        <tr>
          <td class="p-text-right ">کد شعبه افتتاح کننده:</td>
          <td class="p-text-right">{{acc.openingBranchCode}}</td>

          <td class="p-text-right">نام شعبه افتتاح کننده:</td>
          <td class="p-text-right">{{acc.openingBranchName}}</td>

          <td class="p-text-right">تاریخ آخرین گردش:</td>
          <td class="p-text-right">{{acc.dateOfLastTurnover}}</td>

          <td></td>
        </tr>
        </tbody>
      </table>
    </p-card>

    <div style="height: 2em;" *ngIf="!last"></div>
  </ng-container>
</p-panel>

<p-confirmDialog #confirmDlg header="توجه" acceptLabel="تایید" message="عملیات با موفقیت انجام شد" [rejectVisible]="false" [closable]="false" icon="pi pi-info-circle">
</p-confirmDialog>
