
:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnInquirySida {
    width: 18%;
    height: 30%;
    //margin-left: 45%;
    //margin-right: 43%;
}

#btnAssignment {
    width: 10%;
    height: 100%;
    //margin-left: 45%;
    margin-right: 37%;
}

.FS-mr {
    margin-right: 6rem !important;
}

#btnIdWallet2 {
    width: 25%;
    height: 60%;;
}

.FS-mr2 {
    margin-right: 3rem !important;
}

.FS-height {
    height: 100%;
}

#thAccountNumber {
    width: 15%;
}
