:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnBatchRegister {
    width: 13%;
    height: 30%;
    //margin-left: 45%;
    //margin-right: 40%;
}

#btnPardakht {
    width: 13%;
    height: 55%;
    //margin-left: 45%;
    margin-right: 35%;
}

.FS-mr {
    margin-right: 2rem !important;
}

.FS-mt {
    height: 10%;
    margin-top: 2rem !important;
}

.FS-mr2 {
    margin-right: 15rem !important;
}

#btnBatchRegister {
    width: 14%;
    height: 30%;
    //margin-left: 45%;
    margin-right: 40%;
}