<div class="app-mx-5r">
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
      <input placeholder="کد ملی" pInputText>
<!--      <span class="p-float-label">-->
<!--        <input pInputText>-->
<!--        <label>کد ملی</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
<!--        <input pInputText>-->
<!--        <label>نقش سازمانی</label>-->
<!--      </span>-->
      <input placeholder="نقش سازمانی" pInputText>
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
<!--        <input pInputText>-->
<!--        <label>کد پرسنلی</label>-->
<!--      </span>-->
      <input placeholder="کد پرسنلی" pInputText>
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
<!--        <p-dropdown [options]="banks" optionLabel="name" [autoDisplayFirst]="false"></p-dropdown>-->
<!--        <label>بانک</label>-->
<!--      </span>-->
      <p-dropdown class="p-dropdown-w80" placeholder="بانک" [autoDisplayFirst]="false"
                  [options]="banks" optionLabel="name"></p-dropdown>
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
      <input placeholder="نام" pInputText>
<!--      <span class="p-float-label">-->
<!--        <input required pInputText>-->
<!--        <label>نام</label>-->
<!--      </span>-->
      <!-- <small>متن کمکی</small> -->
    </div>
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
<!--        <input required pInputText>-->
<!--        <label>نام خانوادگی</label>-->
<!--      </span>-->
      <!-- <small>متن کمکی</small> -->
      <input placeholder="نام خانوادگی" pInputText>
    </div>
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
<!--        <input required pInputText>-->
<!--        <label>نام پدر</label>-->
<!--      </span>-->
      <!-- <small>متن کمکی</small> -->
      <input placeholder="نام پدر" pInputText>
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
        <p-persian-calendar yearRange="1300:1410" class="app-persian-calendar-style" placeholder="تاریخ صدور شناسنامه"></p-persian-calendar>
<!--        <label>تاریخ صدور شناسنامه</label>-->
<!--      </span>-->
      <!-- <small>ورودی به صورت تاریخ می باشد</small> -->
    </div>
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
        <p-inputNumber mode="decimal" placeholder="شماره شناسنامه" [useGrouping]="false"></p-inputNumber>
<!--        <label>شماره شناسنامه</label>-->
<!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
    <div class="p-field p-col-1">
      <span class="p-float-label">
        <input pInputText>
        <label style="font-size: 80%">حرف سری شناسنامه</label>
      </span>
      <!-- <small>متن کمکی</small> -->
    </div>
    <div class="p-field p-col-2">
<!--      <span class="p-float-label">-->
        <p-inputNumber mode="decimal" placeholder="عدد سری شناسنامه" [useGrouping]="false"></p-inputNumber>
<!--        <label>عدد سری شناسنامه</label>-->
<!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
        <p-inputNumber mode="decimal" placeholder="سریال شناسنامه" [useGrouping]="false"></p-inputNumber>
<!--        <label>سریال شناسنامه</label>-->
<!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-inputNumber mode="decimal" placeholder="سریال کارت ملی" [useGrouping]="false"></p-inputNumber>
<!--        <label>سریال کارت ملی</label>-->
<!--      </span>-->
      <!-- <small>ورودی به صورت عدد می باشد</small> -->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-dropdown  placeholder="نوع شناسنامه"></p-dropdown>
<!--        <label>نوع شناسنامه</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-dropdown placeholder="شهر محل صدور شناسنامه" ></p-dropdown>
<!--        <label>شهر محل صدور شناسنامه</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-dropdown placeholder="کد حوزه شناسنامه"></p-dropdown>
<!--        <label>کد حوزه شناسنامه</label>-->
<!--      </span>-->
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-dropdown placeholder="جنسیت"></p-dropdown>
<!--        <label>جنسیت</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
        <p-persian-calendar placeholder="تاریخ تولد" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
<!--        <label>تاریخ تولد</label>-->
<!--      </span>-->
      <!-- <small>ورودی به صورت تاریخ می باشد</small> -->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-dropdown placeholder="شهر محل تولد"></p-dropdown>
<!--        <label>شهر محل تولد</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-dropdown placeholder="کشور محل تولد"></p-dropdown>
<!--        <label>کشور محل تولد</label>-->
<!--      </span>-->
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
        <p-dropdown placeholder="دین"></p-dropdown>
<!--        <label>دین</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
        <p-dropdown  placeholder="مذهب"></p-dropdown>
<!--        <label>مذهب</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col-3">
<!--      <span class="p-float-label">-->
        <p-dropdown placeholder="وضعیت اقامت"></p-dropdown>
<!--        <label>وضعیت اقامت</label>-->
<!--      </span>-->
    </div>
  </div>
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <p-calendar  placeholder="تاریخ تولد به میلادی"></p-calendar>
<!--        <label>تاریخ تولد به میلادی</label>-->
<!--      </span>-->
      <!-- <small>ورودی به صورت تاریخ می باشد</small> -->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <input placeholder="نام انگلیسی" pInputText>
<!--        <label>نام انگلیسی</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <input placeholder="نام خانوادگی انگلیسی" pInputText>
<!--        <label>نام خانوادگی انگلیسی</label>-->
<!--      </span>-->
    </div>
    <div class="p-field p-col">
<!--      <span class="p-float-label">-->
        <input placeholder="نام خانوادگی انگلیسی" pInputText>
<!--        <label>نام پدر انگلیسی</label>-->
<!--      </span>-->
    </div>

  </div>
</div>
