:host {
    width: 100%;
    height: 100%;
}

.p-dropdown {
    width: 80%;
}

#btnReport {
    width: 13%;
    height: 55%;
    //margin-left: 45%;
    margin-right: 44%;
}

.FS-mr {
    margin-right: 1rem !important;
}

.FS-mt {
    height: 10%;
    margin-top: 2rem !important;

}

.FS-mr2 {
    margin-right: 38rem !important;
}