<p-card header="ایجاد اطلاعات نشانی">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
        <p-dropdown [options]="contactTypes" placeholder="نوع نشانی" [autoDisplayFirst]="false"></p-dropdown>
      </div>
      <div class="p-field p-col">
        <p-dropdown [options]="provinceList" placeholder="استان" [autoDisplayFirst]="false"></p-dropdown>
      </div>
      <div class="p-field p-col">
        <p-dropdown [options]="cityList" placeholder="شهر" [autoDisplayFirst]="false"></p-dropdown>
      </div>
      <div class="p-field p-col">
        <p-dropdown class="p-dropdown-w80" placeholder="منطقه" [autoDisplayFirst]="false"
                    [options]="Mantaghe"></p-dropdown>
      </div>

    </div>
    <div class="p-field p-col">
      <textarea rows="2" cols="151" placeholder="شرح نشانی" pInputTextarea></textarea>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
        <input placeholder="کدپستی" pInputText>
      </div>
      <div class="p-field p-col">
        <input placeholder="تلفن" pInputText>
      </div>
      <div class="p-field p-col">
        <p-dropdown class="p-dropdown-w80" placeholder="نحوه تصرف" [autoDisplayFirst]="false"
                    [options]="nahveTasarofs"></p-dropdown>
      </div>
      <div class="p-field p-col">
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-col-px-2r">
      <div class="p-field p-col">
        <p-persian-calendar yearRange="1300:1410" class="app-persian-calendar-style"  placeholder="تاریخ شروع"></p-persian-calendar>
      </div>
      <div class="p-field p-col">
        <p-persian-calendar yearRange="1300:1410" class="app-persian-calendar-style"  placeholder="تاریخ پایان"></p-persian-calendar>
      </div>
      <div class="p-field p-col">
      </div>
      <div class="p-field p-col">
      </div>
    </div>
  </div>
  <div class="p-d-flex app-gap-1r app-child-px-3r p-jc-center p-mt-6">
    <button label="تایید" pButton ></button>
    <button label="انصراف" pButton (click)="onClose()"></button>
  </div>
</p-card>
