<p-panel>
  <ng-template pTemplate="header">
    <div class="pef-panel-header">
      <span class="pef-panel-title">{{ title }}</span>
      <button pButton icon="pi pi-arrow-right" title="بازگشت" class="p-button-rounded p-button-text pef-back-btn"
              (click)="goToList()"></button>
    </div>
  </ng-template>

  <div [appViewMode]="isView">
    <p-tabView class="tab-view p-shadow-3 section" [(activeIndex)]="activeTab">
      <p-tabPanel header="اطلاعات سازمانی" [disabled]="true">
        <app-organizational-info-form [form]="form"></app-organizational-info-form>
      </p-tabPanel>
      <p-tabPanel header="اطلاعات هیئت مدیره و سهامداران" [disabled]="true">
        <app-org-board-tab></app-org-board-tab>
      </p-tabPanel>
      <p-tabPanel header="امضاء" [disabled]="true">
        <app-org-signature-tab></app-org-signature-tab>
      </p-tabPanel>
      <p-tabPanel header="نقش سازمانی" [disabled]="true">
        <app-org-role-tab></app-org-role-tab>
      </p-tabPanel>
      <p-tabPanel header="اطلاعات تماس" [disabled]="true">
        <app-org-contact-tab></app-org-contact-tab>
      </p-tabPanel>
      <p-tabPanel header="مستندات" [disabled]="true">
        <app-org-documents-tab></app-org-documents-tab>
      </p-tabPanel>
    </p-tabView>
  </div>

  <div class="bottom-buttons   ">
    <button pButton label="مرحله قبل" icon="pi pi-arrow-right" class="p-button-outlined p-button-info oef-nav-btn"
            (click)="prevTab()" [hidden]="activeTab <= 0"></button>
    <button pButton label="ادامه" icon="pi pi-arrow-left" iconPos="right" class="p-button-info oef-nav-btn"
            (click)="nextTab()" [hidden]="isLastTab"></button>
    <button pButton [label]="isEdit ? 'ثبت تغییرات' : 'ثبت'" icon="pi pi-check" class="p-button-success oef-nav-btn"
            (click)="save()" [hidden]="!isLastTab || isView"></button>
  </div>
</p-panel>
