<div class="app-mx-5r">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-col-2"></div>
    <div class="p-col mt-20">
      <p-pickList [source]="source" [target]="target" [showSourceControls]="false" [showTargetControls]="false"
                  class="app-mirror-transfer-icons app-custom-picklist-header app-picklist-equal-height"
                  sourceHeader="نقش‌های معتبر شخص در سازمان" targetHeader="نقش ذینفع در سازمان">
        <ng-template let-row pTemplate="item">{{ row.label }}</ng-template>
      </p-pickList>
    </div>
    <div class="p-col-2"></div>
  </div>
</div>
