<p-panel header="گزارش واریز" [ngStyle]="{'width':'100%'}">
    <div class="p-d-flex p-flex-wrap">
        <div class=" p-md-2 FS-mr">
            <p-dropdown [autoDisplayFirst]="false" placeholder="واحد مربوطه" optionValue="value" optionLabel="label"></p-dropdown>
        </div>
        <div class=" p-md-2 FS-mr">
            <p-dropdown [autoDisplayFirst]="false" placeholder="سرفصل در آمدی" optionValue="value" optionLabel="label"></p-dropdown>
        </div>
        <div class=" p-md-2 FS-mr">
            <input placeholder="کد تراکنشی یکتا" class="input-w-100" pInputText    >
        </div>
        <div class=" p-md-2 FS-mr">
            <p-dropdown [autoDisplayFirst]="false" [editable]="true" placeholder="شماره حساب" [options]="acItems"></p-dropdown>
        </div>
        <div class=" p-md-2 FS-mr">
            <input placeholder="مبلغ" class="input-w-100" pInputText    >
        </div>
        <div class="Fs-p-md FS-mr FS-mt">
            <p-persian-calendar placeholder="از تاریخ" yearRange="1300:1410"
                                class="app-persian-calendar-style" ></p-persian-calendar>
        </div>
        <div class="Fs-p-md FS-mr2 FS-mt">
            <p-persian-calendar placeholder="تا تاریخ" yearRange="1300:1410"
                                class="app-persian-calendar-style" ></p-persian-calendar>
        </div>
        <div class=" p-md-3 FS-mr3">
        <input placeholder="کد پیوست" class="input-w-100" pInputText    >
    </div>
        <div class=" Fs-p-md-3 FS-mr2 FS-mt">
            <input placeholder="کد اقتصادی / کد ملی" class="input-w-100" pInputText    >
        </div>
    </div>
    <div class="p-md-12 FS-height">
        <button id="btnReport"  class="p-button-info" pButton label="گزارش" (click)="tableFlag=true;"></button>&nbsp;
    </div>
    <p-card  *ngIf=tableFlag>
        <p-table [value]="fsList">
            <ng-template pTemplate="header">
                <tr>
                    <th translate>ردیف</th>
                    <th translate id="thAccountNumber">شماره حساب</th>
                    <th translate>تاریخ</th>
                    <th translate>نام شعبه</th>
                    <th translate>کد یکتا</th>
                    <th translate>شرح سند</th>
                    <th translate>کد نوع تراکنش</th>
                    <th translate>بدهکار</th>
                    <th translate>بستانکار</th>
                    <th translate>مانده</th>
                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-reportVariz>
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{reportVariz.accountNumber}}</td>
                    <td>{{reportVariz.history}}</td>
                    <td>{{reportVariz.branchName}}</td>
                    <td>{{reportVariz.yektaCode}}</td>
                    <td>{{reportVariz.docDes}}</td>
                    <td>{{reportVariz.transactionTypeCode}}</td>
                    <td>{{reportVariz.debtor|addCommaSeparator}}</td>
                    <td>{{reportVariz.creditor|addCommaSeparator}}</td>
                    <td>{{reportVariz.remaining|addCommaSeparator}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</p-panel>
