<!--<div class="app-mx-5r">-->
<!--  <div class="p-fluid p-formgrid p-grid app-col-px-2r">-->
<!--    <div class="p-field p-col-3">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="کد ارجاع مشتری" pInputText>-->
<!--&lt;!&ndash;        <label>کد ارجاع مشتری</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-3">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="شناسه ملی" pInputText>-->
<!--&lt;!&ndash;        <label>شناسه ملی</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-6">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="*عنوان" required pInputText>-->
<!--&lt;!&ndash;        <label>عنوان</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--      &lt;!&ndash; <small>متن کمکی</small> &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!-- <p-divider class="app-divider-h">اطلاعات شماره تماس</p-divider> -->
<p-card header="اطلاعات شماره تماس" class="p-d-flex p-my-5">
  <p-table [value]="table1Rows">
    <ng-template pTemplate="header">
      <tr>
        <th translate>ردیف</th>
        <th translate>گروه نوع تماس</th>
        <th translate>نوع تماس</th>
        <th translate style="width:30%;">شماره تماس</th>
        <th translate>تاریخ شروع</th>
        <th translate>تاریخ پایان</th>
        <th translate>پیش فرض</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" pTemplate="body" let-row>
      <tr>
        <td>{{i + 1}}</td>
        <td>
          <p-dropdown [options]="contactTypeGroups" [autoDisplayFirst]="false" ></p-dropdown>
        </td>
        <td>
          <p-dropdown [options]="contactTypes" [autoDisplayFirst]="false" ></p-dropdown>
        </td>
        <td>{{row.phoneNumber}}</td>
        <td>{{row.startDate}}</td>
        <td>{{row.endDate}}</td>
        <td>
          <p-inputSwitch></p-inputSwitch>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>


<!-- <p-divider class="app-divider-h">اطلاعات نشانی</p-divider> -->
<p-card header="اطلاعات نشانی" class="p-d-flex p-my-5">
  <p-table [value]="table2Rows">
    <ng-template pTemplate="header">
      <tr>
        <th translate>ردیف</th>
        <th translate>نوع نشانی</th>
        <th translate>استان</th>
        <th translate>شهر</th>
        <th translate>منطقه</th>
        <th translate>نحوه تصرف</th>
        <th translate style="width:35%;">شرح نشانی</th>
        <th translate>کد پستی</th>
        <th translate>تاریخ شروع</th>
        <th translate>تاریخ پایان</th>
      </tr>
    </ng-template>
    <ng-template let-i="rowIndex" pTemplate="body" let-row>
      <tr>
        <td>{{i + 1}}</td>
        <td>
          <p-dropdown [options]="contactTypes" [autoDisplayFirst]="false" ></p-dropdown>
        </td>
        <td>{{row.province}}</td>
        <td>{{row.city}}</td>
        <td>{{row.region}}</td>
        <td>
          <p-dropdown [options]="nahveTasarofs" [autoDisplayFirst]="false" ></p-dropdown>
        </td>
        <td>{{row.addressDescription}}</td>
        <td>{{row.postalCode}}</td>
        <td>{{row.startDate}}</td>
        <td>{{row.endDate}}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
