:host{
    width: 100%;
    height: 100%;
}
.p-flex-md-row{
    width: 20%;
}
#btnRecovery{
    width: 15%;
    height: 55%;
    //margin-left: 45%;
    //margin-right: 40%;
}
p-dropdown.p-flex-md-row{
    width: 100%;
}
