:host{
    width: 100%;
    height: 100%;
}
.p-flex-md-row{
    width: 20%;
}
#btnRecovery{
    width: 15%;
    height: 55%;
    margin-left: 45%;
    margin-right: 40%;
}
p-dropdown.p-flex-md-row{
    width: 100%;
}
.Fs-mlf{
    margin-right:8rem  !important;
    margin-left: 1rem  !important;
}
.Fs-p-md{
    width: 21%
}
.Fs-p-md2{
    width: 14.5%
}
.Fs-mr{
    margin-right: 1rem  !important;

}
.Fs-mr2{
    margin-right: 1.2rem  !important;

}
