<p-panel header="گزارش حواله های اینترنتی " [ngStyle]="{'width':'100%'}">
  <div class="p-fluid p-formgrid p-grid app-mx-10r ">
    <div class="p-field p-col-3">
            <p-persian-calendar placeholder="از تاریخ" yearRange="1300:1410" class="app-persian-calendar-style"
            ></p-persian-calendar>
        </div>
    <div class="p-field p-col-3">
            <p-persian-calendar placeholder="تا تاریخ" yearRange="1300:1410"
                                class="app-persian-calendar-style" ></p-persian-calendar>
        </div>
    <div class="p-field p-col-3">
            <p-dropdown [editable]="true" placeholder="شماره حساب"  [options]="acItems"></p-dropdown>
        </div>
    <div class="p-field p-col-3">
            <p-dropdown [options]="HavaleInternetiStatus"  class="p-dropdown-w100" placeholder="وضعیت حواله"  ></p-dropdown>
        </div>
    <div class="p-field p-col-3">
            <p-dropdown [options]="referralType" class="p-dropdown-w100" placeholder="نوع حواله" optionValue="value"
                        optionLabel="label"></p-dropdown>
        </div>
        <br>


      <div class="p-field p-col-3">
<!--            <input placeholder="دریافت کننده" class="input-w-100" pInputText >-->
          <p-inputNumber mode="decimal" [useGrouping]="true" suffix=" ریال" [minFractionDigits]="0" placeholder="مبلغ حواله از (ریال)"></p-inputNumber>
        </div>
      <div class="p-field p-col-3">
          <p-inputNumber mode="decimal" [useGrouping]="true" suffix=" ریال" [minFractionDigits]="0" placeholder="مبلغ حواله تا (ریال)"></p-inputNumber>

          <!--            <amount-box class="amount-box-100w" placeholder="مبلغ" >-->
<!--            </amount-box>-->
        </div>
      <div class="p-field p-col-3">
            <input class="input-w-100" placeholder="کدملی / شناسه ملی" pInputText >
        </div>
      <div class="p-field p-col-3">
            <input class="input-w-100" placeholder="شماره حواله" pInputText >
        </div>
      <div class="p-field p-col-3">
        </div>
  </div>
    <div class="p-col-12">
            <br>
            <button id="btnRecovery" class="p-button-info" pButton label="بازیابی" (click)="tableFlag=true;"></button>&nbsp;
    </div>
    <p-card  *ngIf=tableFlag>
        <p-table [value]="fsList">
            <ng-template pTemplate="header">
                <tr>
                    <th translate>ردیف</th>
                    <th translate>شماره حساب</th>
                    <th translate>نوع حواله</th>
                    <th translate>وضعیت حواله</th>
                    <th translate>تاریخ ثبت</th>
                    <th translate>تاریخ سر رسید</th>
                    <th translate>ذینفع</th>
                    <th translate>کدملی/شناسه ملی</th>
                    <th translate>شماره حواله</th>
                    <th translate>مبلغ</th>

                </tr>
            </ng-template>
            <ng-template let-i="rowIndex" pTemplate="body" let-reportTransfer>
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{reportTransfer.accountNumber}}</td>
                    <td>{{reportTransfer.typeTranslate}}</td>
                    <td>{{reportTransfer.statusTranslate}}</td>
                    <td>{{reportTransfer.dateRegistration}}</td>
                    <td>{{reportTransfer.dateDue}}</td>
                    <td>{{reportTransfer.beneficiary}}</td>
                    <td>{{reportTransfer.nationalCode}}</td>
                    <td>{{reportTransfer.numberTranslate}}</td>
                    <td>{{reportTransfer.amount|addCommaSeparator}}</td>

                </tr>
            </ng-template>
        </p-table>
    </p-card>
</p-panel>
