<div class="header  p-shadow-3 section">
  ۱۰۱ - ذینفع سازمانی
</div>

<p-tabView class="tab-view  p-shadow-3 section">
  <p-tabPanel header="۱۰۰ - اطلاعات سازمانی">
    <app-organizational-entity-info-editor></app-organizational-entity-info-editor>
  </p-tabPanel>
  <p-tabPanel header="۱۰۰ - اطلاعات هیئت مدیره و سهامداران">
    <app-board-of-directors-editor></app-board-of-directors-editor>
  </p-tabPanel>
  <p-tabPanel header="۱۰۰ - امضاء">
    <app-party-signature-editor></app-party-signature-editor>
  </p-tabPanel>
  <p-tabPanel header="۱۰۰ - نقش سازمانی">
    <app-organizational-role-editor></app-organizational-role-editor>
  </p-tabPanel>
  <p-tabPanel header="۱۰۰ - اطلاعات تماس">
    <app-organizational-contact-info-editor></app-organizational-contact-info-editor>
  </p-tabPanel>
  <p-tabPanel header="۱۰۰ - مستندات">
    <app-organizational-entity-documents-editor></app-organizational-entity-documents-editor>
  </p-tabPanel>
</p-tabView>

<div class="bottom-buttons  p-shadow-3 section">
  <button pButton label="ادامه | ۱" class="p-button-info"></button>
  <button pButton label="مرحله قبل | ۲" class="p-button-info"></button>
</div>
