@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/iransans/eot/iranyekanwebbold.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/iransans/eot/iranyekanwebthin.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/iransans/eot/iranyekanweblight.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/iransans/eot/iranyekanwebregular.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/iransans/eot/iranyekanwebmedium.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;

  src: url('./assets/fonts/iransans/eot/iranyekanwebextrabold.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/iransans/eot/iranyekanwebblack.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 950;
  src: url('./assets/fonts/iransans/eot/iranyekanwebextrablack.eot');
  src: url('./assets/fonts/iransans/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('./assets/fonts/iransans/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('./assets/fonts/iransans/ttf/iranyekanwebextrablack.ttf') format('truetype');
}



//iran yekan
@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebboldfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebthinfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/iranyekan/eot/iranyekanweblightfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebregularfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebmediumfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 850;
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebblackfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot');
    src: url('./assets/fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('./assets/fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/iranyekan/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}
