a,
span,
label,
div,
input,
textarea {
  font-size: 14px;
}

//input,textarea,amount-box,p-inputNumber {
//    min-width: 80%;
//    max-width: 100%;
//}
input.input-w-100 {
  width: 100%;
}

input.input-w-20 {
  width: 20%;
}

input.input-w-80 {
  width: 80%;
}

input.input-w-92 {
  width: 92%;
}

input.input-w-95 {
  width: 95%;
}

input.input-w-96 {
  width: 95.5%;
}

input.input-w-70 {
  width: 70%;
}

input.input-w-65 {
  width: 65%;
}

input.input-w-85 {
  width: 80%;
}

input.input-w-40 {
  width: 40%;
}

amount-box.amount-box-100w {
  width: 100%;
}

p-persian-calendar.p-persian-calendar-w-80 {
  width: 80%;
}

p-persian-calendar.p-persian-calendar-w-100 {
  width: 100%;
}

p-dropdown.p-dropdown.p-dropdown-w80#drop80 {
  width: 80%;
}

p-dropdown.p-dropdown.p-dropdown-w-100 {
  width: 100%;
}

div.p-dropdown-panel.p-component {
  right: 0;
}

.p-dropdown {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.38);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s,
    background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border-radius: 4px;
  font-size: 15px;
}

.p-dropdown-panel {
  right: 0 !important;
}

.p-dropdown .p-dropdown-label {
  background: transparent;
  border: 0 none;
  font-size: 15px;
}

.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  padding: 0.75rem 0.75rem;
  border: 1px solid #e4e4e4;
  border-width: 0 0 1px 0;
  font-weight: 500;
  color: #e4e4e4;
  background: #5b8086;
  transition: none;
}

.p-button.p-button-text.p-button-plain {
  color: #ffffff;
  background: #3a6286;
}

.p-panel .p-panel-header {
  border: 1px solid #a19f9d;
  padding: 1rem;
  background: #67898f;
  color: #e7e7e0;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.p-inputtext:disabled {
  background-color: #f3f2f1;
  border-color: #f3f2f1;
  color: #34acfc;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-dropdown.p-disabled .p-dropdown-label,
.p-dropdown.p-disabled .p-dropdown-trigger-icon,
.p-multiselect.p-disabled .p-dropdown-label,
.p-multiselect.p-disabled .p-dropdown-trigger-icon {
  color: #34acfc;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  border: 1px solid #e4e4e4;
  border-width: 0 0 1px 0;
  padding: 0.75rem 0.75rem;
}

// why change icon globally to something unrelated?
// please narrow down the selector to your use case
// .pi-times:before {
//     content: "\e935" !important;
// }
.p-inputtext {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-size: 15px !important;
  color: #000001;
  background: #ffffff;
  padding: 0.75rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.38);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s,
    background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
}

.ui-calendar.ui-calendar-w-btn .ui-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0 none;
}

.ui-calendar.ui-calendar-w-btn input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

body.theme-default {
  .mat-snack-bar-container {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    color: #ffffff;
    &.panel-snackbar-success {
      // background-color: #489be5;
      opacity: 0.8 !important;
      background: #c8e6c9;
      border: solid #439446;
      border-width: 0 6px 0 0;
      color: #224a23;
    }
    &.panel-snackbar-error {
      // background-color: #f44336;
      opacity: 0.8 !important;
      background: #ffcdd2;
      border: solid #e60017;
      border-width: 0 6px 0 0;
      color: #73000c;
    }
    &.panel-snackbar-warning {
      // background-color: #f44336;
      opacity: 0.8 !important;
      background: #f5d991;
      border: solid #f6c700;
      border-width: 0 6px 0 0;
      color: #181706;
    }
  }
}

.main-toolbar {
  background-color: #eee !important;
}

//#0e2e33
.page-container {
  padding: 2rem;
}

//
//.p-inputtext {
//    font-family: 'iranyekan', serif !important;
//}
.p-dropdown-panel {
  right: 0;
  left: unset !important;
}

.p-card {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.8) 0px 0.3px 0.9px 0px;
}

.p-checkbox .p-checkbox-box.p-disabled {
  background-color: #8cd5d6;
  border-color: #8cd5d6;
  color: #8cd5d6;
}

body.theme-default .accent {
  background-color: #3a6286 !important;
}

.btnConfirm {
  width: 25%;
}

.btnClear {
  width: 25%;
}

.btnGroupCharge {
  width: 40%;
}

.btnClearSearch {
  margin-right: 3%;
  width: 60%;
}

.btnSearch {
  width: 30%;
}

#btnExcel {
  width: 10%;
}

#operationColumn {
  width: 20%;
}

.p-menubar .p-submenu-list {
  display: none;
  position: absolute;
  z-index: 1000 !important;
}

.p-component {
  font-family: "iranyekan", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: normal;
}

.p-menubar .p-menuitem {
  position: relative;
  direction: rtl;
  background-color: #1f3f43;
}

.p-menubar .p-menuitem:hover {
  background-color: #37666c;
}

.p-menubar .p-submenu-list > .p-menuitem-active > p-menubarsub > .p-submenu-list {
  display: block;
  left: -100% !important;
  top: 0;
  background-color: #1f3f43;
}

p-menubar .pi-angle-right::before {
  content: "\e931";
  color: #ecddcd;
}

.p-submenu-list .p-submenu-icon {
  margin-inline-start: auto !important;
  margin-inline-end: revert !important;
}

.p-menuitem-link .p-submenu-icon {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0 !important;
}

// :not(.p-dropdown-trigger-icon):not(.p-divider):not(.p-button-icon)::before{
//     color: #ECDDCD;
// }
p-menubar .pi::before {
  color: #ecddcd;
}

.p-menubar .p-submenu-list .p-menuitem-link .p-submenu-icon {
  margin-left: auto;
  margin-right: auto;
}

// fix incorrect margin in rtl context
.p-button .p-button-icon-right {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0rem;
}

// fix incorrect margin in rtl context
.p-button .p-button-icon-left {
  margin-inline-start: 0rem;
  margin-inline-end: 0.5rem;
}

// shs
.p-paginator-icon {
  transform: rotate(180deg);
  &::before {
    color: black !important;
  }
}

.p-radiobutton-label {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0rem;
}

.p-checkbox-label {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0rem;
}

.p-float-label input:focus~label,
.p-float-label input.p-filled~label,
.p-float-label textarea:focus~label,
.p-float-label textarea.p-filled~label,
.p-float-label .p-inputwrapper-focus~label,
.p-float-label .ui-inputwrapper-focus~label, // p-persian-calendar
.p-float-label .ui-inputwrapper-filled~label, // p-persian-calendar
.p-float-label .p-inputwrapper-filled~label {
  top: 0rem;
  background-color: white;
  padding: 0 0.3rem;
}

.p-float-label .ui-inputwrapper-focus~label, // p-persian-calendar
.p-float-label .ui-inputwrapper-filled~label {
  // p-persian-calendar
  font-size: 12px;
}

p-persian-calendar.app-persian-calendar-style {
  .ui-datepicker-buttonbar .p-button {
    border-radius: 4px;
    width: auto;
  }
  & > .ui-calendar {
    display: flex !important;
    & > input {
      border-radius: 0 4px 4px 0 !important;
    }
    & > .p-button {
      border-radius: 4px 0 0 4px !important;
      width: 2.357rem;
    }
    & > .ui-datepicker {
      border-radius: 4px;
      box-shadow: 0px 3px 8px -4px black;
    }
  }
}

.p-float-label > label {
  left: revert;
  right: 0.5rem;
}

.app-divider-h {
  .p-divider-content {
    background: white;
    padding: 0 0.2em;
  }
  .p-divider {
    margin: 2em 0 1.5em;
    &::before {
      border-color: var(--surface-d);
    }
  }
}

// add a star to a label immediately after a required input
input[required] + label::after {
  content: "*";
  color: red;
  margin-inline-start: 0.22em;
}

.app-mirror-transfer-icons {
  .p-picklist-transfer-buttons {
    .p-button-icon {
      transform: rotate(180deg);
    }
  }
}

.app-button-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  & > button {
    width: auto !important;
    padding: 0.5rem 2rem !important;
  }
}

@mixin app-child-px() {
  @for $i from 1 through 6 {
    .app-child-px-#{$i}r > * {
      padding-left: #{$i}#{"rem"} !important;
      padding-right: #{$i}#{"rem"} !important;
    }
  }
}

@include app-child-px();
// set padding-x: 2rem on all p-col* children.
.app-col-px-2r {
  // negative margins are required
  // to prevent nested class usage to cause indented elements.
  margin-left: -2rem;
  margin-right: -2rem;
  & > [class*="p-col"] {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.app-mx-2-5r {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.app-mx-5r {
  margin-left: 5rem;
  margin-right: 5rem;
}

.app-mx-10r {
  margin-left: 10rem;
  margin-right: 10rem;
}

.app-mx-20r {
  margin-left: 20rem;
  margin-right: 20rem;
}

.app-mx-25r {
  margin-left: 25rem;
  margin-right: 25rem;
}

.app-mx-30r {
  margin-left: 30rem;
  margin-right: 30rem;
}

.app-mx-35r {
  margin-left: 35rem;
  margin-right: 35rem;
}

.app-mx-40r {
  margin-left: 40rem;
  margin-right: 40rem;
}

.app-mx-45r {
  margin-left: 45rem;
  margin-right: 45rem;
}

.app-mx-49r {
  margin-left: 49rem;
  margin-right: 49rem;
}

.app-mx-52r {
  margin-left: 52rem;
  margin-right: 52rem;
}

.app-mx-54r {
  margin-left: 54rem;
  margin-right: 54rem;
}

@mixin attr-x($attr, $prefix, $postfix, $count, $step, $unit) {
  @for $i from 1 through $count {
    $j: $step * $i;
    .#{$prefix}#{$j}#{$postfix} {
      #{$attr}: #{$j}#{$unit};
    }
  }
}
@mixin attr-2x($attr, $attr2, $prefix, $postfix, $count, $step, $unit) {
  @for $i from 1 through $count {
    $j: $step * $i;
    .#{$prefix}#{$j}#{$postfix} {
      #{$attr}: #{$j}#{$unit};
      #{$attr2}: #{$j}#{$unit};
    }
  }
}

@include attr-x("width", "app-w-", "pc", 20, 5, "% !important");
@include attr-x("gap", "app-gap-", "r", 6, 1, "rem");
@include attr-x("flex-grow", "app-flex-grow-", "", 6, 1, "");
@include attr-2x("padding-left", "padding-right", "app-px-", "r", 6, 1, "rem");
@include attr-2x("padding-top", "padding-bottom", "app-py-", "r", 6, 1, "rem");

.app-rtl {
  direction: rtl;
}
.app-ltr {
  direction: ltr;
}
.app-text-start {
  text-align: start;
}
.app-text-end {
  text-align: end;
}

// width needs to be set appropriately
.app-property-value-list {
  dt,
  dd {
    float: inline-start;
    font-size: 1.4rem;
    line-height: 1;
    padding: 0;
    margin: 0 0 1.25rem;
  }
  dd {
    text-align: start;
  }
  dt {
    clear: both;
    width: 20rem; // set appropriately
    text-align: end;
    &::after {
      content: ":";
      margin-inline-end: 1rem;
    }
  }
}

.app-theme {
  --app-primary-color-hs: 200, 100%;
  --app-primary-color: hsl(var(--app-primary-color-hs), 35%);
  --app-hover-background: hsl(var(--app-primary-color-hs), 45%);
  --app-primary-border: hsl(var(--app-primary-color-hs), 25%);
  --app-primary-text-color: #fff;
  --app-focus-shadow: hsl(var(--app-primary-color-hs), 55%);
  --app-disabled-background-color: #f3f2f1;
  --app-nested-back-hs: 200, 50%;
  --app-nested-back-1: hsl(var(--app-nested-back-hs), 100%);
  --app-nested-back-2: hsl(var(--app-nested-back-hs), 95%);
  --app-nested-back-3: hsl(var(--app-nested-back-hs), 90%);
  .app-nested-level-1 {
    background-color: var(--app-nested-back-1);
  }
  .app-nested-level-2 {
    background-color: var(--app-nested-back-2);
  }
  .app-nested-level-3 {
    background-color: var(--app-nested-back-3);
  }
  .p-button.p-disabled,
  .p-button.p-component:disabled {
    opacity: 1;
    background-color: var(--app-disabled-background-color);
    color: hsl(0, 0%, 71.2%);
    border: 1px solid hsl(0, 0%, 65.2%);
  }
  .p-button.p-button-text.p-button-plain:enabled:hover {
    background: var(--app-hover-background);
    color: white;
  }
  .p-button.p-button-text.p-button-plain:enabled:active {
    background: var(--app-hover-background);
    color: white;
  }
  .p-checkbox .p-checkbox-box.p-disabled {
    background-color: var(--app-disabled-background-color);
    border-color: var(--app-disabled-background-color);
    color: var(--app-disabled-background-color);
  }
  .horizontal-menu {
    background-color: var(--app-primary-color);
  }
  .p-menubar {
    .p-menuitem {
      background-color: var(--app-primary-color);
    }
    .p-menuitem.p-menuitem-active > .p-menuitem-link {
      background: var(--app-primary-color);
    }
    .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
      color: var(--app-primary-text-color);
    }
    .p-menuitem-link .p-menuitem-text {
      color: var(--app-primary-text-color);
    }
    .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
      color: var(--app-primary-text-color);
    }
    a:hover {
      background-color: var(--app-hover-background) !important;
    }
    a:hover,
    a:active {
      text-decoration: none !important;
    }
    .pi::before {
      color: var(--app-primary-text-color) !important;
    }
    .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
    .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
      color: var(--app-primary-text-color) !important;
    }
    .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
      color: var(--app-primary-text-color) !important;
    }
    .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
      box-shadow: inset 0 0 0 1px var(--app-focus-shadow);
    }
    .p-menuitem-link:focus {
      box-shadow: inset 0 0 0 1px var(--app-focus-shadow);
    }
    .p-menuitem.p-menuitem-active > a {
      background-color: var(--app-hover-background) !important;
    }
  }
  .p-inputtext:enabled:focus {
    box-shadow: inset 0 0 0 1px var(--app-focus-shadow);
  }
  .p-panel .p-panel-header {
    background: var(--app-primary-color);
    border: 1px solid var(--app-primary-border);
    color: var(--app-primary-text-color);
  }
  .p-button {
    background: var(--app-primary-color);
    border: 1px solid var(--app-primary-border);
    color: var(--app-primary-text-color);
  }
  .p-button:enabled:hover {
    color: var(--app-primary-text-color);
  }
  .p-fileupload-choose:not(.p-disabled):hover {
    background: var(--app-hover-background);
    border-color: var(--app-primary-border);
    color: var(--app-primary-text-color);
  }
  .p-button:focus {
    box-shadow: inset 0 0 0 1px var(--app-focus-shadow);
  }
  .p-button.p-button-info:enabled:active,
  .p-buttonset.p-button-info > .p-button:enabled:active,
  .p-splitbutton.p-button-info > .p-button:enabled:active {
    color: var(--app-primary-text-color);
  }
  .p-button.p-button-info,
  .p-buttonset.p-button-info > .p-button,
  .p-splitbutton.p-button-info > .p-button {
    color: var(--app-primary-text-color);
  }
  .p-button.p-button-text.p-button-plain {
    background: var(--app-primary-color);
  }
  .p-button.p-button-info:enabled:hover,
  .p-buttonset.p-button-info > .p-button:enabled:hover,
  .p-splitbutton.p-button-info > .p-button:enabled:hover {
    background: var(--app-hover-background);
    border-color: var(--app-primary-border);
    color: var(--app-primary-text-color);
  }
  .p-button.p-button-info:enabled:focus,
  .p-buttonset.p-button-info > .p-button:enabled:focus,
  .p-splitbutton.p-button-info > .p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem var(--app-focus-shadow);
  }
  .p-button:enabled:hover {
    background: var(--app-hover-background);
    border: 1px solid var(--app-primary-border);
  }
  .p-button:enabled:active {
    background: var(--app-primary-color);
    border-color: var(--app-primary-border);
  }
  .p-datatable .p-datatable-thead > tr > th {
    background: var(--app-primary-color);
    // border: 1px solid var(--app-primary-border);
    color: var(--app-primary-text-color);
  }
  .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
    background-color: var(--app-primary-color);
  }
  .p-checkbox .p-checkbox-box.p-highlight {
    background: var(--app-primary-color);
    border-color: var(--app-primary-border);
  }
  .p-dropdown:not(.p-disabled).p-focus,
  .p-multiselect:not(.p-disabled).p-focus {
    box-shadow: inset 0 0 0 1px var(--app-focus-shadow);
  }
  .p-dropdown:not(.p-disabled).p-focus {
    border-color: var(--app-primary-border);
  }
  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    &.p-treenode-selectable:not(.p-highlight):hover {
      background: #bbe1f3;
    }
    .p-tree-toggler:enabled:hover {
      background: #dcf0ff;
    }
    &.p-highlight {
      background: var(--app-primary-color);
      color: var(--app-primary-text-color);
      .p-tree-toggler,
      .p-treenode-icon {
        color: white;
      }
      .p-tree-toggler:hover,
      .p-treenode-icon:hover {
        color: white;
        background-color: var(--app-hover-background);
      }
    }
    .p-tree-toggler:focus {
      box-shadow: inset 0 0 0 1px var(--app-focus-shadow);
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem var(--app-focus-shadow);
    }
  }
  .p-datatable .p-datatable-tbody > tr {
    background: transparent;
  }
}

// tree flip icon from right to left
.p-tree-toggler-icon.pi-chevron-right::before {
  content: "\e900";
}

// tree: rtl padding for children
.p-tree .p-treenode-children {
  padding: 0 1rem 0 0;
}

// tree icon margin
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  margin-inline-start: 0;
  margin-inline-end: 0.5rem;
}

p-dropdown {
  display: inline-flex;
}

.p-dropdown.p-component {
  flex: 1;
}

p-tree {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.p-tree.p-component {
  flex: 1;
}

// limit max height to the height specified for the component
.p-tree.p-component {
  max-height: 100%;
  overflow: auto;
}

.p-contextmenu .p-menuitem-link .p-menuitem-icon {
  margin-inline-start: 0;
  margin-inline-end: 0.5rem;
}

.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

.p-fluid p-dropdown {
  width: 100%;
}

.code {
  display: block;
  direction: ltr;
  width: 100%;
  height: 400px;
  text-align: left;
  font-family: "Cascadia Code", "Courier New", Courier, monospace;
}
