<p-panel header="ذینفع شخصی">
  <p-tabView class="tab-view  p-shadow-3 section">
    <p-tabPanel header="اطلاعات هویتی">
      <app-person-identity-info-editor></app-person-identity-info-editor>
    </p-tabPanel>
    <p-tabPanel header="امضاء">
      <app-party-signature-editor></app-party-signature-editor>
    </p-tabPanel>
    <p-tabPanel header="نقش سازمانی">
      <app-organizational-role-editor></app-organizational-role-editor>
    </p-tabPanel>
    <p-tabPanel header="اطلاعات تماس">
      <app-organizational-contact-info-editor></app-organizational-contact-info-editor>
    </p-tabPanel>
    <p-tabPanel header="اطلاعات تکمیلی">
      <app-person-supplementary-info-editor></app-person-supplementary-info-editor>
    </p-tabPanel>
    <p-tabPanel header=" زمینه فعالیت">
      زمینه فعالیت
    </p-tabPanel>
    <p-tabPanel header="مستندات">
      <app-organizational-entity-documents-editor></app-organizational-entity-documents-editor>
    </p-tabPanel>
  </p-tabView>

  <div class="bottom-buttons  p-shadow-3 section">
    <button pButton label="ادامه" class="p-button-info"></button>
    <button pButton label="مرحله قبل" class="p-button-info"></button>
  </div>
</p-panel>