<p-panel header="کارتابل حواله ساتنا">
  <p-card *ngIf="!detailsFlag">
    <p-table [value]="satnaRows">
      <ng-template pTemplate="header">
        <tr>
          <th translate>ردیف</th>
          <th translate>شماره حواله</th>
          <th translate>شماره حساب مبدا</th>
          <th translate>وضعیت</th>
          <th translate>نام گیرنده حواله</th>
          <th translate>مبلغ حواله (ریال)</th>
          <th translate>شرح</th>
          <th translate>ثبت کننده</th>
          <th translate>تاریخ ثبت</th>
          <th translate>عملیات</th>
        </tr>
      </ng-template>
      <ng-template let-i="rowIndex" pTemplate="body" let-row>
        <tr>
          <td>{{i + 1}}</td>
          <td>{{row.temporaryTransferNumber}}</td>
          <td>{{row.sourceAccountNumber}}</td>
          <td>{{row.status}}</td>
          <td>{{row.remittanceRecipientName}}</td>
          <td>{{row.amounts|addCommaSeparator}}</td>
          <td>{{row.des}}</td>
          <td>{{row.registrar}}</td>
          <td>{{row.registrationDate|castToDate}}</td>
          <td>
            <button pButton icon="pi pi-chevron-circle-right" (click)="selectRow(row)"></button>&nbsp;
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <app-specifications-request-satna *ngIf="detailsFlag" [satnaRow]="selectedRow" (close)="onClose($event)">
  </app-specifications-request-satna>
  <div class="p-d-flex p-jc-center p-mt-5 p-mb-5" *ngIf="!detailsFlag">
    <button id="btnUpdate" class="p-button" pButton label="بروزرسانی" (click)="getSatnaRows()"></button>&nbsp;
  </div>
</p-panel>
