<div class="app-mx-5r">
<!--  <div class="p-fluid p-formgrid p-grid app-col-px-2r">-->
<!--    <div class="p-field p-col-3">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--         <input placeholder="کد ارجاع مشتری" pInputText>-->
<!--&lt;!&ndash;        <label>کد ارجاع مشتری</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-3">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="شناسه ملی" pInputText>-->
<!--&lt;!&ndash;        <label>شناسه ملی</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="p-field p-col-6">-->
<!--&lt;!&ndash;      <span class="p-float-label">&ndash;&gt;-->
<!--        <input placeholder="عنوان" required pInputText>-->
<!--&lt;!&ndash;        <label>عنوان</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--      &lt;!&ndash; <small>متن کمکی</small> &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
  
  <div class="p-fluid p-formgrid p-grid app-col-px-2r">
    <div class="p-col-6">
      <div class="p-fluid p-formgrid p-grid app-col-px-2r">
        <div class="p-field p-col-6">
<!--          <span class="p-float-label">-->
            <p-dropdown [autoDisplayFirst]="false" [options]="signType" placeholder="نوع امضا"></p-dropdown>
<!--            <label>نوع امضا</label>-->
<!--          </span>-->
        </div>
      </div>
  
  
      <div class="p-fluid p-formgrid p-grid app-col-px-2r">
        <div class="p-field p-col">
<!--          <span class="p-float-label">-->
            <p-persian-calendar placeholder="تاریخ شروع" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
<!--            <label>تاریخ شروع</label>-->
<!--          </span>-->
          <!-- <small>متن کمکی</small> -->
        </div>
        <div class="p-field p-col">
<!--          <span class="p-float-label">-->
            <p-persian-calendar placeholder="تاریخ پایان" yearRange="1300:1410" class="app-persian-calendar-style"></p-persian-calendar>
<!--            <label>تاریخ پایان</label>-->
<!--          </span>-->
          <!-- <small>متن کمکی</small> -->
        </div>
      </div>
  
      <div class="p-fluid p-formgrid p-grid app-col-px-2r">
        <div class="p-field p-col">
<!--          <span class="p-float-label">-->
            <input placeholder="توضیحات" pInputText>
<!--            <label>توضیحات</label>-->
<!--          </span>-->
          <!-- <small>متن کمکی</small> -->
        </div>
      </div>
  
    </div>
    <div class="p-col-6">
      <div class="p-fluid p-formgrid p-grid app-col-px-2r p-jc-center">
        <div class="p-col"
          style="background: gray; border: 1px solid black; border-radius: 5px; max-width: 300px; height: 300px;">
  
        </div>
      </div>
    </div>
  </div>
</div>
