:host {
  width: 100%;
  height: 100%;
}

.FS-p-md-4 {
  width: 18.5%;
}

.FS-mt {

  margin-top: 0.5rem !important;

}

.FS-p-md-1 {
  width: 15.6667%;
}

.FS-ml {
  margin-left: 0.1rem !important;
}

.Fs-mlf {
  margin-right: 18.7rem !important;

}

.FS-mr {
  margin-right: 3rem !important;
}

#btnRecovery {
  width: 10%;
  height: 55%;
  //margin-left: 45%;
  margin-right: 35%;
}
