<p-panel header="گزارش فایل های بارگذاری شده">
  <div class="app-mx-5r">
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <input class="input-w-100" pInputText>
          <label>نام فایل</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-dropdown [autoDisplayFirst]="false" optionValue="value"></p-dropdown>
          <label>وضعیت</label>
        </span>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid app-mx-30r">
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410"
                              class="app-persian-calendar-style"></p-persian-calendar>
          <label>بارگذاری از</label>
        </span>
      </div>
      <div class="p-field p-col">
        <span class="p-float-label">
          <p-persian-calendar yearRange="1300:1410"
                              class="app-persian-calendar-style"></p-persian-calendar>
          <label>بارگذاری تا</label>
        </span>
      </div>
    </div>
    <div class="p-grid p-formgrid p-fluid app-mx-49r">
      <div class="p-field p-col">
          <button pButton pRipple type="button" label="جستجو" style="width:10rem" class="p-mr-2 p-mb-2"></button>
          <button pButton pRipple type="button" label="نمایش همه" style="width:10rem" class="p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
</p-panel>
